{% set active = 'cart' %}
{% extends 'user_category/client/basket/base_basket.html.twig' %}


{% block content_basket %} 

<div id="step-cart" class="content active dstepper-block" role="tabpanel" aria-labelledby="step-cart-trigger">
    {% if basket|length ==0 %}
        <div class="alert alert-primary mt-3 p-3 text-center" role="alert">
            <div class="alert-body">
                Votre panier est vide.
            </div>
        </div>
    {% else %}
    <div id="place-order" class="list-view product-checkout">
        <!-- Checkout Place Order Left starts -->
        <div class="checkout-items" style="overflow: auto; height: calc(100vh - 300px);">
            {% for basketItem in basket %}
            <div class="card ecommerce-card">
                <div class="item-img">
                    <a href="/client/product/{{basketItem.produit.id}}">
                        <img src="{{ asset( filesDirectory ~ basketItem.produit.photo) }}" alt="Image pour {{basketItem.produit.nom}}" />
                    </a>
                </div>
                <div class="card-body">
                    <div class="item-name">
                        <h6 class="mb-0"><a href="/client/product/{{basketItem.produit.id}}" class="text-body">{{basketItem.produit.nom}}</a></h6>
                    
                    </div>
                    {# <span class="text-success mb-1">En stock</span> #}
                    <div class="item-quantity">
                        <span class="quantity-title">Quantité:</span>
                        <div class="input-group quantity-counter-wrapper bootstrap-touchspin">
                            <span class="input-group-btn input-group-prepend bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button" onclick="decreaseQuantity({{basketItem.produit.id}})">-</button></span><input type="text" class="quantity-counter form-control" id="quantity-for-product-{{basketItem.produit.id}}" value="{{basketItem.quantity}}"><span class="input-group-btn input-group-append bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button" onclick="increaseQuantity({{basketItem.produit.id}})">+</button></span>
                        </div>
                    </div>
                    {# <span class="text-success">Remise de 20%</span> #}
                    <span class="delivery-date text-muted"><i><b>Description :</b></i> {{basketItem.produit.description|raw}}</span>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price mb-2" id="item-price-for-product-{{basketItem.produit.id}}" data-unit-price="{{basketItem.produit.prix}}">{{basketItem.cost| number_format(2, ',', ' ')}} €</h4>
                            {# <p class="card-text shipping">
                                <span class="badge rounded-pill badge-light-success">Free Shipping</span>
                            </p> #}
                        </div>
                    </div>
                    <button type="button" class="btn btn-light mt-1 remove-wishlist" onclick="removeBasketItem({{basketItem.produit.id}})">
                        <i data-feather="x" class="align-middle me-25"></i>
                        <span>Retirer du panier</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-cart move-cart" onclick="updateBasketItem({{basketItem.produit.id}})">
                        <i data-feather="shopping-cart" class="align-middle me-25"></i>
                        <span class="text-truncate">Modifier le panier</span>
                    </button>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <!-- Checkout Place Order Left ends -->

        <!-- Checkout Place Order Right starts -->
        <div class="checkout-options" >
            <div class="card">
                <div class="card-body">
                    <label class="section-label form-label mb-3">Détails de la commande</label>
                    <div class="price-details">
                        <ul class="list-unstyled"  style="height: calc(100vh - 470px);">
                            <li class="price-detail">
                                <div class="detail-title">Prix net (sans TVA)</div>
                                <div class="detail-amt discount-amt" id="cart-total-ht">{{(totalCost / (1.0 + configTva/100))|number_format(2, ',', ' ')}} €</div>
                            </li>
                            <li class="price-detail">
                                <div class="detail-title">TVA ({{configTva | number_format(0, ',', ' ')}} %)</div>
                                <div class="detail-amt discount-amt" id="cart-tva">{{(totalCost * configTva / (100 + configTva))|number_format(2, ',', ' ')}} €</div>
                            </li>
                            
                        </ul>
                        <hr />
                        <ul class="list-unstyled">
                            <li class="price-detail">
                                <div class="detail-title detail-total">Prix total (TVA incluse) :</div>
                                <div class="detail-amt fw-bolder" id="total-cost" data-total-cost="{{totalCost}}">{{totalCost | number_format(2, ',', ' ')}} €</div>
                            </li>
                        </ul>
                        <a role="button" class="btn btn-primary w-100 btn-next place-order" href="{{path('client_order_address', {'token': token})}}">Commander</a>
                    </div>
                </div>
            </div>
            <!-- Checkout Place Order Right ends -->
        </div>
    </div>
    {% endif %}
    <!-- Checkout Place order Ends -->
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">  
    let token = '{{token}}';
    let tva = {{configTva}};
    function formatPrix(prix){
        let text = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(prix);
        return text;
    }

    function addToBasket(productId, quantity = 1){
        console.log(productId);
        let request = $.ajax({  
            url:        "{{path('client_basket_add', {'token': token})}}",  
            type:       'POST', 
            data : JSON.stringify({productId:productId, quantity:quantity}),  
            contentType: 'application/json; charset=utf-8',
            dataType: "json"
        });  
        request.done(function(data) {
            // your success code here
                console.log(data);
                location.reload();
        });

        request.fail(function(jqXHR, textStatus) {
            // your failure code here
            let errMessage = jqXHR.responseJSON.message;
            console.log(errMessage);
        });
        
    }
    function decreaseQuantity(productId){
        let quantityCounter = document.getElementById(`quantity-for-product-${productId}`);
        let costDOM = document.getElementById(`item-price-for-product-${productId}`);
        let totalCostDOM = document.getElementById(`total-cost`);
        let tvaDOM = document.getElementById(`cart-tva`);
        let totalHtDOM = document.getElementById(`cart-total-ht`);
        let unitPrice = parseFloat(costDOM.dataset.unitPrice);
        let totalCost = parseFloat(totalCostDOM.dataset.totalCost)- unitPrice;
        
        let qty = parseInt(quantityCounter.value) - 1;
        if(qty>=0){
            quantityCounter.value = qty;
            costDOM.innerHTML = formatPrix(qty* unitPrice);
            totalCostDOM.innerHTML = formatPrix(totalCost);
            tvaDOM.innerHTML = formatPrix(totalCost * tva / (100 + tva));
            totalHtDOM.innerHTML = formatPrix(totalCost / (1.0 + tva/100));
            totalCostDOM.dataset.totalCost = totalCost;
        } 
    }
    function increaseQuantity(productId){
        let quantityCounter = document.getElementById(`quantity-for-product-${productId}`);
        let costDOM = document.getElementById(`item-price-for-product-${productId}`);
        let totalCostDOM = document.getElementById(`total-cost`);
        let tvaDOM = document.getElementById(`cart-tva`);
        let totalHtDOM = document.getElementById(`cart-total-ht`);
        let unitPrice = parseFloat(costDOM.dataset.unitPrice);
        let totalCost = parseFloat(totalCostDOM.dataset.totalCost)+ unitPrice;


        let qty = parseInt(quantityCounter.value) + 1;
        quantityCounter.value = qty;
        costDOM.innerHTML = formatPrix(qty* unitPrice);
        totalCostDOM.innerHTML = formatPrix(totalCost);
        tvaDOM.innerHTML = formatPrix(totalCost * tva / (100 + tva));
        totalHtDOM.innerHTML = formatPrix(totalCost / (1.0 + tva/100));
        totalCostDOM.dataset.totalCost = totalCost;
    }
    function updateBasketItem(productId){
        let quantityCounter = document.getElementById(`quantity-for-product-${productId}`);
        let quantity = parseInt(quantityCounter.value);
        if(quantity<=0) {
            removeBasketItem(productId);
            return;
        }
        console.log(productId);
        let request = $.ajax({  
            url:        "{{path('client_basket_update', {'token': token})}}",  
            type:       'PUT', 
            data : JSON.stringify({productId:productId, quantity:quantity}),  
            contentType: 'application/json; charset=utf-8',
            dataType: "json"
        });  
        request.done(function(data) {
            // your success code here
                console.log(data);
                location.reload();
        });

        request.fail(function(jqXHR, textStatus) {
            // your failure code here
            let errMessage = jqXHR.responseJSON.message;
            console.log(errMessage);
            alert("Erreur: "+errMessage);
        });
        
    }

    function removeBasketItem(productId){
        let url = "{{path('client_basket_remove', {'token': token, 'id': 'productId'})}}";
        url = url.replace('productId', productId);
        console.log(productId);
        let request = $.ajax({  
            url:        url,  
            type:       'DELETE', 
            dataType: "json"
        });  
        request.done(function(data) {
            // your success code here
                console.log(data);
                location.reload();
        });

        request.fail(function(jqXHR, textStatus) {
            // your failure code here
            let errMessage = jqXHR.responseJSON.message;
            console.log(errMessage);
        });
        
    }
</script>

{% endblock %}

