{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendarCSS') }}
{% endblock %}

{% block body %}
    <div class="agenda-configuration">
        {{ form_start(form, {'attr': {'class': 'agenda-configuration-form'}}) }}
        <div class="agenda-configuration__title-wrapper">
            <h3 class="agenda-configuration__title">Configurez  <br>votre <span class="agenda-configuration__title-value">agenda</span></h3>
            <div class="agenda-configuration__img-wrapper">
                <i class="agenda-configuration__img" data-feather="calendar"></i>
            </div>
        </div>
        <div class="agenda-configuration__steps">
            <div class="agenda-configuration__step">
                <h4 class="agenda-configuration__step_title">Etape n°1 :</h4>
                <p>Pour pouvoir consulter votre agenda dans la plateforme de PixelForce, vous devez avoir un Compte <a href="https://calendly.com/">Calendly</a>.</p>
            </div>
            <div class="agenda-configuration__step">
                <h4 class="agenda-configuration__step_title">Etape n°2 :</h4>
                <p>Renseignez le lien de votre agenda (https://calendly.com/xxx-xxx) dans le champ ci-dessous :</p>
                {{form_widget(form.lienCalendly, {'attr': {'class': 'agenda-configuration__step_input'}})}}
                {{form_errors(form.lienCalendly)}}
            </div>
            <div class="agenda-configuration__step">
                <h4 class="agenda-configuration__step_title">Etape n°3 :</h4>
                 
                <p>Enregistrez les informations et profitez de Calendly</p>
                <button type="submit" class="btn btn-primary agenda-configuration__step_btn">Enregistrer les informations <i data-feather="save"></i></button>
               
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block title %}
    Mon calendrier
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendarJS') }}
{% endblock %}
