{% extends 'base.html.twig' %}
{% block title %}Agent - Liste Formations Video {% endblock %}
{% block body %}
    <div>
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h3>Liste des formations</h3>
            </div>
        </div>

        <form action="" method="get">
            <div class="row">
                <div class="col-12 col-md-4 mt-4">
                    <input type="text" name="q[titre]" value="{{ criteres ? criteres.titre }}" class="form-control" placeholder="Titre"/>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <input type="text" name="q[description]"  value="{{ criteres ? criteres.description }}" class="form-control" placeholder="Déscription"/>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <input type="text" name="q[auteur]" value="{{ criteres ? criteres.auteur }}" class="form-control" placeholder="Nom de l'auteur"/>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <select class="form-select" name="q[trie]">
                        <option value="titre" selected>Trier par</option>
                        <option value="titre" {{ criteres and criteres.trie == 'titre' ? 'selected' : '' }}>Titre</option>
                        <option value="description" {{ criteres and criteres.trie == 'description' ? 'selected' : '' }}>Description</option>
                        <option value="auteur" {{ criteres and criteres.trie == 'auteur' ? 'selected' : '' }}>Auteur</option>
                    </select>
                </div>
                <div class="col-12 col-md-3 mt-4">
                    <select class="form-select" name="q[ordre]">
                        <option value="ASC"selected>Ordre</option>
                        <option value="ASC" {{ criteres and criteres.ordre == 'ASC' ? 'selected' : '' }}>ASC</option>
                        <option value="DESC" {{ criteres and criteres.ordre == 'DESC' ? 'selected' : '' }}>DESC</option>
                    </select>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <select class="form-select" name="q[categorie]">
                        <option value="" selected>Catégorie</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie.nom}}">{{ categorie.nom}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 col-md-1  mt-4">
                    <button class="btn bg-princ text-white"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div>

                {% for categorie in categories  %}
                    <div class="bg-white border p-4 my-5">
                        <h1>{{ categorie.nom }}</h1>
                        {% for formation in formations %}
                            {% if formation.categorieFormation ==  categorie %}
                                <hr class="my-5" style="height: 2px;">
                                <h5 class="text-primary">{{ formation.titre }} {% if formation.brouillon %}<small class="text-danger">[ brouillon ]</small>{% endif %}</h5>
                                <div class="row mt-3">
                                    <div class="col-12  col-md-10">
                                        <p>{{ formation.description|slice(0, 300) }}</p>
                                        {% if formation.categorieFormation.ordreCatFormation == constant('App\\Entity\\CategorieFormation::ORDRE_LISTE_DE_CONTACT') and nbrAllMyContacts < constant('App\\Entity\\CategorieFormation::CONDITION_LISTE_DE_CONTACT') %}
                                            <div class="alert alert-warning">
                                                Pour débloquer cette formation, assurez-vous d’avoir enregistré plus de 100 contacts dans votre liste de prospection.
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-2 text-end">
                                        {% if formation.categorieFormation.ordreCatFormation == constant('App\\Entity\\CategorieFormation::ORDRE_LISTE_DE_CONTACT') and nbrAllMyContacts < constant('App\\Entity\\CategorieFormation::CONDITION_LISTE_DE_CONTACT') %}
                                            
                                        {% else %}
                                            {% set formationAgentRelation = formationAgentRepository.findOneBy({agent:app.user.id, formation:formation}) %}
                                            {# {% set statut = formationAgentRelation ? formationAgentRelation.statut : constant('App\\Entity\\Formation::STATUT_BLOQUEE') %} #}
                                            {% set statut = formationAgentRelation ? formationAgentRelation.statut : constant('App\\Entity\\Formation::STATUT_DISPONIBLE') %}

                                            {% if statut == constant('App\\Entity\\Formation::STATUT_BLOQUEE') %}
                                                <button type="button" class="btn btn-sm btn-danger" data-trigger="hover" data-bs-toggle="popover" data-bs-placement="left" title="Information de déblocage" data-bs-content="{{formation.DescriptionDeblocage}}"><i class="fa fa-lock"></i> Formation bloquer</button>
                                            {% elseif statut == constant('App\\Entity\\Formation::STATUT_DISPONIBLE')%}
                                                <a href="{{ path('agent_formation_fiche', {id:formation.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-chevron-right"></i> Fiche formation</a>
                                            {% elseif statut == constant('App\\Entity\\Formation::STATUT_TERMINER')%}
                                                <a href="{{ path('agent_formation_fiche', {id:formation.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Formation terminée</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(formations) }}
        </div>
    </div>
{% endblock %}