<!-- User Card -->
<div class="card">
    <div class="card-body">
        <div class="user-avatar-section">
            <div class="d-flex align-items-center flex-column">
                {# {% if user.avatarName is null %}
                    <img class="img-fluid rounded mt-3 mb-2" src="user" height="110" width="110" alt="User avatar" />
                {% else %}   
                    <img class="img-fluid rounded mt-3 mb-2" src="{{vich_uploader_asset(user, 'avatarFile')}}" height="110" width="110" alt="User avatar" />
                {% endif %} #}
                <div class="user-info text-center">
                    <h4>{{ user.fullName }}</h4>
                    <span class="badge bg-light-secondary">{{ user.roles[0]|slice(5)}}</span>
                </div>
            </div>
        </div>
{#        <div class="d-flex justify-content-around my-2 pt-75">#}
{#            <div class="d-flex align-items-start me-2">#}
{#                <span class="badge bg-light-primary p-75 rounded">#}
{#                    <i data-feather="check" class="font-medium-2"></i>#}
{#                </span>#}
{#                <div class="ms-75">#}
{#                    <h4 class="mb-0">1.23k</h4>#}
{#                    <small>Tâches</small>#}
{#                </div>#}
{#            </div>#}
{#            <div class="d-flex align-items-start">#}
{#                <span class="badge bg-light-primary p-75 rounded">#}
{#                    <i class="fa-solid fa-cube"></i>#}
{#                </span>#}
{#                <div class="ms-75">#}
{#                    <h4 class="mb-0">{{ secteurs|length }}</h4>#}
{#                    <small>Secteurs</small>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <h4 class="fw-bolder border-bottom pb-50 mb-1 mt-4">Détails</h4>
        <div class="info-container">
            <ul class="list-unstyled">
                <li class="mb-75">
                    <span class="fw-bolder me-25">Nom et prénom:</span>
                    <span>{{ user.fullName }}</span>
                </li>
                <li class="mb-75">
                    <span class="fw-bolder me-25">Email:</span>
                    <span>{{ user.email }}</span>
                </li>
                <li class="mb-75">
                    <span class="fw-bolder me-25">Statut:</span>
                    <span class="badge bg-light-success">Active</span>
                </li>
{#                <li class="mb-75">#}
{#                    <span class="fw-bolder me-25">Role:</span>#}
{#                    <span>{{ user.roles[0]|slice(5)}}</span>#}
{#                </li>#}
                <li class="mb-75">
                    <span class="fw-bolder me-25">Contact:</span>
                    <span>{% if user.telephone %} {{ user.telephone }} {% else %} Pas de numero {% endif %}</span>
                </li>
                <li class="mb-75">
                    <span class="fw-bolder me-25">Adresse:</span>
                    <span>{{ user.adresse }}</span>
                </li>
            </ul>
            <div class="d-flex justify-content-center pt-2">
                {% if is_granted('ROLE_ADMINISTRATEUR') and user.roles[0] == 'ROLE_AGENT' %}
                    <a class="btn btn-outline-primary me-1" href="{{ path('admin_agent_attribuerFormation', {id: user.id}) }}" >
                        Attribuer formation
                    </a>
                {% endif %}
                {% if is_granted('ROLE_COACH') and user.roles[0] == 'ROLE_AGENT' %}
                    <a class="btn btn-outline-primary me-1" href="{{ path('coach_formation_list', {agent: user.id}) }}" >
                        Attribuer formation
                    </a>
                    {% set chatCanal =  render(controller(
                        'App\\Controller\\ChatController::getSingleCanalBy_idUser',
                        {
                            id: agent.id
                        }
                        ))
                    %}

                    <a href="#" class="btn btn-primary chat-choose-canal me-2" data-canal="{{ chatCanal|url_encode }}">
                        <i class="fa-brands fa-facebook-messenger"> </i> envoyer un message
                    </a>
                {% endif %}
                <a href="{{ path('admin_agent_edit', {id:user.id}) }}" class="btn btn-primary me-1" >
                    Modifier
                </a>
{#                <a href="javascript:;" class="btn btn-outline-danger suspend-user">Suspendu</a>#}
            </div>
        </div>
    </div>
</div>
<!-- /User Card -->