<section class="app-user-view-account">
    <div class="row">
        <!-- User Sidebar -->
        <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
            <!-- User Card -->
            <div class="card">
                <div class="card-body">
                    <div class="user-avatar-section">
                        <div class="d-flex align-items-center flex-column">
                            {# {% if user.avatarName is null %}
                                <img class="img-fluid rounded mt-3 mb-2" src="user" height="110" width="110" alt="User avatar" />
                            {% else %}   
                                <img class="img-fluid rounded mt-3 mb-2" src="{{vich_uploader_asset(user, 'avatarFile')}}" height="110" width="110" alt="User avatar" />
                            {% endif %} #}
                            <div class="user-info text-center">
                                <h4>{{ user.fullName }}</h4>
                                <span class="badge bg-light-secondary">{{ user.roles[0]|slice(5)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around my-2 pt-75">
                        <div class="d-flex align-items-start me-2">
                            <span class="badge bg-light-primary p-75 rounded">
                                <i data-feather="check" class="font-medium-2"></i>
                            </span>
                            <div class="ms-75">
                                <h4 class="mb-0">1.23k</h4>
                                <small>Tâches</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <span class="badge bg-light-primary p-75 rounded">
                                <i data-feather="briefcase" class="font-medium-2"></i>
                            </span>
                            <div class="ms-75">
                                <h4 class="mb-0">568</h4>
                                <small>Projets</small>
                            </div>
                        </div>
                    </div>
                    <h4 class="fw-bolder border-bottom pb-50 mb-1">Détails</h4>
                    <div class="info-container">
                        <ul class="list-unstyled">
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Nom et prénom:</span>
                                <span>{{ user.fullName }}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Email:</span>
                                <span>{{ user.email }}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Statut:</span>
                                <span class="badge bg-light-success">Active</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Role:</span>
                                <span>{{ user.roles[0]|slice(5)}}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Tax ID:</span>
                                <span>Tax-8965</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Contact:</span>
                                <span>{% if user.telephone %} {{ user.telephone }} {% else %} Pas de numero {% endif %}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Language:</span>
                                <span>English</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Adresse:</span>
                                <span>{{ user.adresse }}</span>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center pt-2">
                            <a href="javascript:;" class="btn btn-primary me-1" data-bs-target="#editUser" data-bs-toggle="modal">
                                Modifier
                            </a>
                            <a href="javascript:;" class="btn btn-outline-danger suspend-user">Suspendu</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /User Card -->
            <!-- Plan Card -->
            <div class="card border-primary px-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <span class="badge bg-light-primary">Standard</span>
                        <div class="d-flex justify-content-center">
                            <sup class="h5 pricing-currency text-primary mt-1 mb-0">$</sup>
                            <span class="fw-bolder display-5 mb-0 text-primary">99</span>
                            <sub class="pricing-duration font-small-4 ms-25 mt-auto mb-2">/month</sub>
                        </div>
                    </div>
                    <ul class="ps-1 mb-2">
                        <li class="mb-50">10 Utilisateurs</li>
                        <li class="mb-50">Jusqu'à 10 Go de stockage</li>
                        <li>Assistance de base</li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center fw-bolder mb-50">
                        <span>Jour</span>
                        <span>4 jours sur 30</span>
                    </div>
                    <div class="progress mb-50" style="height: 8px">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="65" aria-valuemax="100" aria-valuemin="80"></div>
                    </div>
                    <span>4 jours restants</span>
                    <div class="d-grid w-100 mt-2">
                        <button class="btn btn-primary" data-bs-target="#upgradePlanModal" data-bs-toggle="modal">
                            Mettre à niveau le Plan
                        </button>
                    </div>
                </div>
            </div>
            <!-- /Plan Card -->
        </div>
        <!--/ User Sidebar -->

        <!-- User Content -->
        <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
            <!-- User Pills -->
            <ul class="nav nav-pills mb-2">
                <li class="nav-item">
                    <a class="nav-link active" href="app-user-view-account.html">
                        <i data-feather="user" class="font-medium-3 me-50"></i>
                        <span class="fw-bold">Compte</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="app-user-view-security.html">
                        <i data-feather="lock" class="font-medium-3 me-50"></i>
                        <span class="fw-bold">Securité</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="app-user-view-billing.html">
                        <i data-feather="bookmark" class="font-medium-3 me-50"></i>
                        <span class="fw-bold">Facturation & forfaits</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="app-user-view-notifications.html">
                        <i data-feather="bell" class="font-medium-3 me-50"></i><span class="fw-bold">Notifications</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="app-user-view-connections.html">
                        <i data-feather="link" class="font-medium-3 me-50"></i><span class="fw-bold">Connections</span>
                    </a>
                </li>
            </ul>
            <!--/ User Pills -->

            <!-- Project table -->
            <div class="card">
                <h4 class="card-header">Liste des projets de l'utilisateur</h4>
                <div class="table-responsive">
                    <table class="table datatable-project">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Projet</th>
                                <th class="text-nowrap">Tâche totale</th>
                                <th>Progression</th>
                                <th>Heures</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /Project table -->

            <!-- Activity Timeline -->
            <div class="card">
                <h4 class="card-header">Chronologie de l'activité de l'utilisateur</h4>
                <div class="card-body pt-1">
                    <ul class="timeline ms-50">
                        <li class="timeline-item">
                            <span class="timeline-point timeline-point-indicator"></span>
                            <div class="timeline-event">
                                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                    <h6>Utilisateur en ligne</h6>
                                    <span class="timeline-event-time me-1">il y a 12 minutes</span>
                                </div>
                                <p>Connexion utilisateur à 14h12</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                            <div class="timeline-event">
                                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                    <h6>Rencontre avec John</h6>
                                    <span class="timeline-event-time me-1">il y a 45 minutes</span>
                                </div>
                                <p>Réunion du projet React avec John à 10h15</p>
                                <div class="d-flex flex-row align-items-center mb-50">
                                    <div class="avatar me-50">
                                        <img src="../../../app-assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="38" height="38" />
                                    </div>
                                    <div class="user-info">
                                        <h6 class="mb-0">Léona Watkins (cliente)</h6>
                                        <p class="mb-0">PDG de pixinvent</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                            <div class="timeline-event">
                                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                    <h6>Créer un nouveau projet React pour le client</h6>
                                    <span class="timeline-event-time me-1">il y a 2 jours</span>
                                </div>
                                <p>Ajouter des fichiers au nouveau dossier de conception</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <span class="timeline-point timeline-point-danger timeline-point-indicator"></span>
                            <div class="timeline-event">
                                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                    <h6>Créer des factures pour le client</h6>
                                    <span class="timeline-event-time me-1">il y a 12 minutes</span>
                                </div>
                                <p class="mb-0">Créez de nouvelles factures et envoyez-les à Leona Watkins</p>
                                <div class="d-flex flex-row align-items-center mt-50">
                                    <img class="me-1" src="../../../app-assets/images/icons/pdf.png" alt="data.json" height="25" />
                                    <h6 class="mb-0">Invoices.pdf</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Activity Timeline -->

            <!-- Invoice table -->
            <div class="card">
                <table class="invoice-table table text-nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th>#ID</th>
                            <th><i data-feather="trending-up"></i></th>
                            <th>Total payé</th>
                            <th class="text-truncate">Date de publication</th>
                            <th class="cell-fit">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /Invoice table -->
        </div>
        <!--/ User Content -->
    </div>
</section>