{% extends 'base.html.twig' %}

{% block title %}
	Liste de contacts
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}	
    <div class="container mt-3">
        <!-- Message alert -->
        <div class="alert-message">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- Formulaire de recherche -->
        <div class="search-form">
            {{form_start(searchForm)}}
            <div class="row text-center">
                <div class="col-12 col-sm-3 col-md-3">
                    {{form_row(searchForm.prenom)}}
                </div>
                <div class="col-12 col-sm-3 col-md-3">
                    {{form_row(searchForm.email)}}
                </div>
				<div class="col-12 col-sm-3 col-md-3">
                    {{form_row(searchForm.telephone)}}
                </div>
                <div class="col-12 col-sm-3 col-md-3">
                    {{form_row(searchForm.adresse)}}
                </div>
                <div class="col-6">
                    <label for="dateInscriptionMin" class="form-label">Date d'enregistrement à partir de</label>
                    {{form_widget(searchForm.dateInscriptionMin)}}
                </div>
                <div class="col-6">
                    <label for="dateInscriptionMax" class="form-label">Date d'enregistrement jusqu'à</label>
                    {{form_widget(searchForm.dateInscriptionMax)}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 mt-3">
                    <button class="btn btn-primary "><i class="fa-solid fa-magnifying-glass"></i> Rechercher</button>
                </div>
            </div>
            {{form_end(searchForm)}}
        </div>

        <hr class="my-5">

        <!-- Liste agent -->
        <div class="row mb-3">
            <div class="col-12  mt-2 mt-md-3">
                <div class="row mb-4 mt-3 mt-m-0">
                    <div class="col-12 col-md-6 order-2 order-md-1">
                        <h4><i class="fa fa-book-atlas"></i> Liste de contacts (Agent : {{ agent.prenom }})</h4>
                    </div>
                </div>
            </div>
		</div>
        <div class="table-responsive">
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr>
						<th scope="col">Prénoms</th>
						<th scope="col">Email</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Adresse</th>
						<th scope="col">ACTION</th>
					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}            
                        {% set information = contact.information %}
                        <tr>
                            <td>{{ information.lastname }}</td>
                            <td>{{ information.email }}</td>
                            <td>{{ information.phone }}</td>
                            <td>{{ information.address }}</td>
                            <td >
                                <a href="{{ path('coach_agent_contact_view', {'id': contact.id}) }}" class="btn btn-secondary">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

        <div class="row my-2">
            <div class="d-flex flex-wrap align-items-center">
                <a href="{{path('coach_agent_contact_export_excel', {agent: agent.id} )}}" class="btn btn-success btn-sm"><i class="fa fa-file-text"></i>&nbsp;Exporter excel</a>
                <a href="{{path('coach_agent_contact_export_pdf', {agent: agent.id} )}}" class="btn btn-danger btn-sm mx-2"><i class="fa fa-file-text"></i>&nbsp;Exporter pdf</a>
            </div>
            
		</div>

		<div class="pagination d-flex justify-content-center">
			{{ knp_pagination_render(contacts)}}
		</div>
    </div>

    
{% endblock %}
