{% if currentPath == '/agent/accueil' %}
    {% if allSecteurs is defined %}
        {% for secteur in allSecteurs %}
            {% set agentSecteur = repoAgentSecteur.findOneBy({'secteur' : secteur, 'agent' : agent}) %}
                <li class=" nav-item">
                    <a class="d-flex align-items-center" {% if agentSecteur and agentSecteur.statut == true %}href="{{ path('agent_generate_sessionSecteur_before_redirect_to_route_dahsboard', {id: secteur.id})}}"{% endif %}  ><i class="fa-solid fa-cube"></i><span class="menu-title text-truncate" data-i18n="Email">{{ secteur.nom }}</span></a>
                </li>
        {% endfor %}
    {% endif %}bra
{% else %}
    {% if app.session.get('secteurId') and app.session.get('enabledContent') == true  %}
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_dashboard_secteur', {id:app.session.get('secteurId')}) }}"><i class="fa fa-dashboard"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Tableau de bord</span></a></li>
        <li class=" navigation-header mt-3"><span data-i18n="User Interface">Espace agent</span><i data-feather="more-horizontal"></i></li>
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_home') }}"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Choix secteur</span></a></li>

        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_contact_list') }}"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="User">Contacts</span></a></li>
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_formation_list') }}"><i data-feather="eye"></i><span class="menu-title text-truncate" data-i18n="Feather">Formations</span></a></li>
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_zoom_list') }}"><i data-feather="video"></i><span class="menu-title text-truncate" data-i18n="User">Réunions</span></a>
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_coach_list') }}"><i data-feather="users"></i><span class="menu-title text-truncate" data-i18n="User">Coachs</span></a>
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('calendar_index')}}"><i data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Mon Agenda</span></a></li>

        <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('agent_contact_meeting_list')}}"><i data-feather="coffee"></i><span class="menu-title text-truncate" data-i18n="Meetings">Rendez-vous</span></a></li>
        {% if app.session.get('typeSecteurId') == 1 %}
            <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('admin_order_list')}}"><i data-feather="eye"></i><span class="menu-title text-truncate" data-i18n="Calendar">Ventes</span></a></li>
        {% elseif app.session.get('typeSecteurId') == 2 %}
            <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('agent_demandedevis_list')}}"><i data-feather="eye"></i><span class="menu-title text-truncate" data-i18n="Calendar">Demandes de devis</span></a></li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('agent_company_devis_liste')}}"><i class="fa-regular fa-file"></i><span class="menu-title text-truncate" data-i18n="Calendar">Devis</span></a></li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="settings"></i><span class="menu-title text-truncate" data-i18n="Components">Paramètre</span></a>
                <ul class="menu-content">
                    <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Alerts">Référence</span></a>
                        <ul class="menu-content">
                            <li><a class="d-flex align-items-center" href="{{path('agent_refsociete_list')}}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Alerts">Société</span></a></li>
                            <li><a class="d-flex align-items-center" href="{{path('agent_refclient_list')}}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Alerts">Client</span></a></li>
                            <li><a class="d-flex align-items-center" href="{{path('agent_refservice_list')}}"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Alerts">Service</span></a></li>
                        </ul>
                    </li>
                    
                </ul>
            </li>
        {% elseif app.session.get('typeSecteurId') == 4 %}
            <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('admin_aroma_order_list')}}"><i data-feather="eye"></i><span class="menu-title text-truncate" data-i18n="Calendar">Commandes</span></a></li>    
        {% else %}
            <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('admin_ordersecu_list')}}"><i data-feather="eye"></i><span class="menu-title text-truncate" data-i18n="Calendar">Ventes</span></a></li>
        {% endif %}
        {# <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('live_video_list') }}"><i data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Réunions</span></a></li> #}
    {% else %}
        <li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('agent_home') }}"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Choix secteur</span></a></li>
    {% endif %}
    
{% endif %}
