<li class=" navigation-header"><span data-i18n="User Interface">Espace Admin</span><i data-feather="more-horizontal"></i>
</li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Tableau de bord</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_coach_list') }}"><i data-feather="briefcase"></i><span class="menu-title text-truncate" data-i18n="Email">Coachs</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_agent_list') }}"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="Email">Agents</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_sector_list') }}"><i class="fa-solid fa-cube"></i><span class="menu-title text-truncate" data-i18n="Email">Secteurs</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_formation_categorie_list') }}"><i class="fa-solid fa-dice"></i><span class="menu-title text-truncate" data-i18n="Email">Catégories (F)</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_tag_list') }}"><i class="fa-solid fa-tags"></i><span class="menu-title text-truncate" data-i18n="Email">Tags</span></a></li>
{# <li class=" nav-item"><a class="d-flex align-items-center" href="{{path('admin_calendar_index')}}"><i data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Agenda</span></a></li> #}
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_typeCommercialisation_list') }}"><i class="fa-solid fa-book-atlas"></i><span class="menu-title text-truncate" data-i18n="Email">Type de commercialisation</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('app_code_promo_secu_index') }}"><i class="fa-brands fa-product-hunt"></i><span class="menu-title text-truncate" data-i18n="Email">Code Promo</span></a></li>