<li class=" navigation-header"><span data-i18n="User Interface">Espace Admin</span><i data-feather="more-horizontal"></i>
</li>

<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_coach_list') }}"><i data-feather="briefcase"></i><span class="menu-title text-truncate" data-i18n="Email">Coachs</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_agent_list') }}"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="Email">Agents</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_sector_list') }}"><i class="fa-solid fa-cube"></i><span class="menu-title text-truncate" data-i18n="Email">Secteurs</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_formation_categorie_list') }}"><i class="fa-solid fa-dice"></i><span class="menu-title text-truncate" data-i18n="Email">Catégories (F)</span></a></li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('admin_tag_list') }}"><i class="fa-solid fa-tags"></i><span class="menu-title text-truncate" data-i18n="Email">Tags</span></a></li>