{% block _devis_company_devis_company_detail_widget %}
    
    {{ form_widget(form)}}

    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group my-3">
        <button type="button" id="add-devis-detail" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>  Ajouter nouvelle ligne
        </button>        
    </div>
{% endblock %}


{% block _devis_company_devis_company_detail_row %}
    {{ form_widget(form)}}
{% endblock %}

{% block _devis_company_devis_company_detail_entry_label %}

{% endblock %}


{% block _devis_company_devis_company_detail_entry_widget %}
    <div class="form-group " id="block_{{id}}">
        <div class="row-devis-detail row row-devis-input">
            <div class="col-2 col-border-devis-d py-3">
                <div class="d-flex align-items-center">
                    {{ form_widget(form.reference) }}
                    <button class="btn btn-secondary" onclick="openPopup('{{path('agent_refservice_popup')}}', '{{id}}_reference;hidden_cke___{{id}}_designation;{{id}}_pu_vente;{{id}}_imageHidden', 'ref;designation;prix;image')" type="button">...</button>
                </div>
            </div>
            <div class="col-4 col-border-devis-d py-3">{{ form_widget(form.designation) }}</div>
            <div class="col-1 col-border-devis-d py-3">{{ form_widget(form.quantite) }}</div>
            <div class="col-1 col-border-devis-d py-3">{{ form_errors(form.pu_vente) }} {{ form_widget(form.pu_vente) }}</div>
            <div class="col-1 col-border-devis-d py-3"> 
                <input type="number" class="form-control montant-ht-js" step="0.01" {% if form.pu_vente.vars.value > 0 %}value="{{form.pu_vente.vars.value }}"{% endif %} readonly>
            </div>
            <div class="col-2 col-border-devis-d py-3">
                {{ form_widget(form.file_image) }}
                {{ form_errors(form.file_image) }}
                <div class="my-form-img-preview-container d-none" id="{{id}}_image_preview_container">
                    <img class="my-form-img-preview" id="{{id}}_image_preview" data-prototype="{{ asset( GfilesDirectoryRelative ~ '__real_path__') }}" src="" />
                </div>
                {{ form_widget(form.imageHidden, {'attr': {'onchange': 'changeImage(this, \'#'~id~'_image_preview_container\')'}}) }}
            </div>
            <div class="col-1 col-border-devis-d py-3 center-horizontal-vertical"><button type="button" class="btn btn-danger" id="delete_btn_{{id}}" data-action="delete" data-target="block_{{id}}" ><i class="fa-solid fa-trash-can"></i></button></div>
        </div>
    </div>
{% endblock %}
