{% extends 'base.html.twig' %}

{% block title %}
	Envoyer un document
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %} 
    <div class="block block--bordered block--rounded">
        <h1 class="block__text block__text--center mt-2" >Envoyer le document &lt;&lt; {{document.nom}} &gt;&gt; :</h1>
            
            {{ form_start(form, {'attr': {'class': 'my-form', 'id': 'category-form'}}) }}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    <div class="alert-body">
                        {{error}}
                    </div>
                </div>
                {% endif %}
                <div class="my-form-widget">
                    {{form_label(form.nom)}}
                    {{form_widget(form.nom)}}
                    {{form_errors(form.nom)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.prenom)}}
                    {{form_widget(form.prenom)}}
                    {{form_errors(form.prenom)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.email)}}
                    {{form_widget(form.email)}}
                    {{form_errors(form.email)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.conseiller)}}
                    {{form_widget(form.conseiller)}}
                    {{form_errors(form.conseiller)}}
                </div>
                <div class="btn-wrap">
                    <button class="btn btn-primary" type="submit"><i data-feather="send"></i>Envoyer</button>
                </div>
            {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/templates/admin/product/product_form.js')}}"></script>

{% endblock %}

