{% extends 'base.html.twig' %}

{% block title %}
	Liste des produits
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
<section class="invoice-preview-wrapper">
    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-12">
            
            <div class="card invoice-preview-card">
                <div class="card-body invoice-padding pb-0">
                    <!-- Header starts -->
                    <div class="d-flex flex-md-row flex-column invoice-spacing mt-0">
                        <div>
                            <div class="logo-wrapper">
                                <h3 class="text-primary invoice-logo">{{product.nom}}</h3>
                            </div>
                            <div>
                            {% if product.image != null %}
                                <img src="{{asset(files_directory_relative ~ product.image)}}" class="uploadedAvatar rounded me-50" alt="profile image" height="150" />
                            {% endif %}
                            </div>
                        </div>

                        <div class="pt-5 mx-2">
                            
                            <div class="invoice-date-wrapper">
                                <p class="invoice-date-title">Description:</p>
                                <p class="card-text">{{product.description | raw}}</p>
                            </div>
                            <div class="invoice-date-wrapper">
                                <p class="invoice-date-title">Prix TTC:</p>
                                <p class="card-text">{{product.prix | number_format(2, ',', ' ')}}</p>
                            </div>
                            
                        </div>

                        
                        
                    </div>
                    <!-- Header ends -->
                </div>

                {# <hr class="invoice-spacing" /> #}

                <!-- Address and Contact starts -->
                {# <div class="card-body invoice-padding pt-0">
                    <div class="row invoice-spacing">
                        <div class="col-xl-8 p-0">
                            <h6 class="mb-2">Invoice To:</h6>
                            <h6 class="mb-25">Thomas shelby</h6>
                            <p class="card-text mb-25">Shelby Company Limited</p>
                            <p class="card-text mb-25">Small Heath, B10 0HF, UK</p>
                            <p class="card-text mb-25">718-986-6062</p>
                            <p class="card-text mb-0">peakyFBlinders@gmail.com</p>
                        </div>
                        <div class="col-xl-4 p-0 mt-xl-0 mt-2">
                            <h6 class="mb-2">Payment Details:</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="pe-1">Total Due:</td>
                                        <td><span class="fw-bold">$12,110.55</span></td>
                                    </tr>
                                    <tr>
                                        <td class="pe-1">Bank name:</td>
                                        <td>American Bank</td>
                                    </tr>
                                    <tr>
                                        <td class="pe-1">Country:</td>
                                        <td>United States</td>
                                    </tr>
                                    <tr>
                                        <td class="pe-1">IBAN:</td>
                                        <td>ETD95476213874685</td>
                                    </tr>
                                    <tr>
                                        <td class="pe-1">SWIFT code:</td>
                                        <td>BR91905</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> #}
                <!-- Address and Contact ends -->

                <!-- Invoice Description starts -->
                
                </div>

                {# <div class="card-body invoice-padding pb-0">
                    <div class="row invoice-sales-total-wrapper">
                        <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-3">
                            <p class="card-text mb-0">
                                <span class="fw-bold">Salesperson:</span> <span class="ms-75">Alfie Solomons</span>
                            </p>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end order-md-2 order-1">
                            <div class="invoice-total-wrapper">
                                <div class="invoice-total-item">
                                    <p class="invoice-total-title">Subtotal:</p>
                                    <p class="invoice-total-amount">$1800</p>
                                </div>
                                <div class="invoice-total-item">
                                    <p class="invoice-total-title">Discount:</p>
                                    <p class="invoice-total-amount">$28</p>
                                </div>
                                <div class="invoice-total-item">
                                    <p class="invoice-total-title">Tax:</p>
                                    <p class="invoice-total-amount">21%</p>
                                </div>
                                <hr class="my-50" />
                                <div class="invoice-total-item">
                                    <p class="invoice-total-title">Total:</p>
                                    <p class="invoice-total-amount">$1690</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}
                <!-- Invoice Description ends -->

                <hr class="invoice-spacing" />

                <!-- Invoice Note starts -->
                <div class="card-body invoice-padding pt-0">
                    <div class="row">
                        {# <div class="col-12">
                            <span class="fw-bold">Note:</span>
                            <span>It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance
                                projects. Thank You!</span>
                        </div> #}
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="btn-wrap mx-2">
                                <a href="{{path('admin_aroma_product_edit', {'id': product.id})}}" class="btn btn-warning" role="button"
                                    ><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Modifier</a>
                            </div>
                            <div class="btn-wrap">
                                <a href="{{path('admin_aroma_product_delete', {'id': product.id})}}" class="btn btn-danger" role="button"
                                    ><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Invoice Note ends -->
            </div>
        </div>
        <!-- /Invoice -->

        
    </div>
</section>



    
{% endblock %}
            
