{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-4">
        <div class="row">
            {% for live in lives %}
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="live w-100 h-100 bg-white border p-3">
                        <div class="row">
                            <div class="col-12">
                                <h1><i class="fa-solid fa-video {{ live.isInProcess ? 'text-success' : 'text-secondary' }}"></i></h1>
                            </div>
                            <div class="col-12">
                                <small class="text-muted my-auto text-info">{{ live.isInProcess ? 'En ligne' : 'Hors ligne' }}</small>
                            </div>
                        </div>

                        <h5> {{ live.theme ? live.theme : 'Cette réunion n\'a pas de theme' }}</h5>
                        <p class="text-start"><small><u>Date début du live</u> : {{ live.dateDebutLive|date('d-m-Y H:m:s') }}</small></p>
                        <p><u>Description</u> : {{ live.description ? live.description : 'pas de description sur ce live' }}</p>
                        <div class="text-end mt-4">
                            {% if live.userA.id == app.user.id %}
                                <a href="#" class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#ModalEditLive{{ live.id }}"><i class="fa fa-edit"></i> Modifier</a>
                            {% endif %}
                            <a href="{{ path('live_destruct', {code: live.code}) }}" class="btn btn-danger btn-sm">Quitter</a>
                        </div>
                    </div>
                </div>
                <!-- import modal -->
                {% include 'live/video/modal_modification.html.twig' with {live:live, agents: agents} %}

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Liste des videos planifier
{% endblock %}

