{% set typeSecteurId = app.user.uniqueCoachSecteur.type.id %}
{% set estSecurite = typeSecteurId == constant('App\\Entity\\TypeSecteur::SECURITE') %}
{% set estDemandeDevis = typeSecteurId == constant('App\\Entity\\TypeSecteur::DEMANDE_DEVIS') %}
{% set estEcommerce = typeSecteurId == constant('App\\Entity\\TypeSecteur::ECOMMERCE') %}
{% extends 'base.html.twig' %}


{% block title %}
	Tableau de bord
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vuexy_dashboard_ecommerce') }}
{% endblock %}

{% block body %}
    <div class="container">
        
        <section id="dashboard-ecommerce">
            <div class="row match-height">
                <!-- Medal Card -->
                <div class="col-xl-4 col-md-6 col-12">
                    <div class="card card-congratulation-medal">
                        <div class="card-body">
                            <h5>Félicitation 🎉 {{ app.user.prenom }}!</h5>
                            <p class="card-text font-small-3">Vous avez gagné la médaille d'or</p>
                            {% if (estSecurite or estEcommerce) %}
                            <h3 class="mb-75 mt-2 pt-50">
                                <a href="#">{{statVente.ca | number_format(2, ',', ' ')}} €</a>
                            </h3>
                            {% endif %}
                        
                            <img src="{{asset('assets/vuexy/images/illustration/badge.svg')}}" class="congratulation-medal" alt="Medal Pic" />
                        </div>
                    </div>
                </div>
                <!--/ Medal Card -->
    
                <!-- Statistics Card -->
                <div class="col-xl-8 col-md-6 col-12">
                    <div class="card card-statistics">
                        <div class="card-header">
                            <h4 class="card-title">Statistiques</h4>
                        </div>
                        <div class="card-body statistics-body">
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                    <div class="d-flex flex-row">
                                        <div class="avatar bg-light-primary me-2">
                                            <div class="avatar-content">
                                                <i data-feather="trending-up" class="avatar-icon"></i>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <h4 class="fw-bolder mb-0">{{statVente.nbr_ventes | number_format(0, ',', ' ')}}</h4>
                                            <p class="card-text font-small-3 mb-0">Ventes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                    <div class="d-flex flex-row">
                                        <div class="avatar bg-light-info me-2">
                                            <div class="avatar-content">
                                                <i data-feather="user" class="avatar-icon"></i>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <h4 class="fw-bolder mb-0">{{nbrClients | number_format(0, ',', ' ')}}</h4>
                                            <p class="card-text font-small-3 mb-0">Les clients</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                    <div class="d-flex flex-row">
                                        <div class="avatar bg-light-danger me-2">
                                            <div class="avatar-content">
                                                <a href="{{path('agent_contact_meeting_list')}}"><i data-feather="box" class="avatar-icon"></i></a>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <h4 class="fw-bolder mb-0">{{nbrRdv | number_format(0, ',', ' ')}}</h4>
                                            <p class="card-text font-small-3 mb-0">Rendez-vous</p>
                                        </div>
                                    </div>
                                </div>
                                {% if (estSecurite or estEcommerce) %}
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="d-flex flex-row">
                                        <div class="avatar bg-light-success me-2">
                                            <div class="avatar-content">
                                                <i data-feather="dollar-sign" class="avatar-icon"></i>
                                            </div>
                                        </div>
                                        <div class="my-auto">
                                            <h4 class="fw-bolder mb-0">{{statVente.ca | number_format(2, ',', ' ')}} €</h4>
                                            <p class="card-text font-small-3 mb-0">Revenu</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Statistics Card -->
            </div>

            <div class="row match-height">
                <div class="col-lg-8 col-12">
                    <div class="card card-company-table">
                        {# <div class="card-body p-0">
                            <div class="card-body p-0">
                                {% if formations == null %}
                                    <div class="alert alert-primary text-center m-5">
                                        Il n'y a plus de formation à terminer
                                    </div>
                                {% else %}
                                    {% if currentCategorie and currentCategorie.ordreCatFormation == constant('App\\Entity\\CategorieFormation::ORDRE_LISTE_DE_CONTACT') and nbrAllMyContacts < constant('App\\Entity\\CategorieFormation::CONDITION_LISTE_DE_CONTACT') %}
                                        <h3 class="fw-bolder text-center mt-2">{{ firstFormation.titre}} </h3>    
                                        <div class="alert alert-warning m-5 text-center h2">
                                            Pour débloquer cette formation, assurez-vous d’avoir enregistré plus de 100 contacts dans votre liste de prospection.
                                        </div>
                                    {% else %}
                                        <h3 class="fw-bolder text-center mt-2">{{ firstFormation.titre}} </h3>
                                        <div class="border d-flex bg-white">
                                            <iframe src="https://player.vimeo.com/video/{{ firstFormation.videoId }}" width="700" height="400" class="m-auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </div>
                                        <div class="text-center m-2 p-2">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="{{ path('agent_formation_fiche', {id:firstFormation.id}) }}" class="btn btn-primary fw-bolder mt-4"><i class="fa-solid fa-file me-2"></i> Fiche formation</a>
                                                </div>
                                                <div class="col">
                                                    <a href="{{ path('agent_formation_terminer', {id:firstFormation.id, path: 'fromDashboard'}) }}" class="btn btn-success fw-bolder mt-4"><i class="fa fa-check"></i> J'ai terminé cette formation</a>
                                                </div>
                                                <div class="col">
                                                    <a href="{{ path('agent_formation_list') }}" class="btn btn-secondary fw-bolder mt-4"><i class="fa-solid fa-list me-2"></i> Liste des formations</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                
                            </div>
                        </div> #}
                    </div>
                </div>
    
                <!-- Developer Meetup Card -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card card-developer-meetup position-relative">
                        <div class="position-absolute right-0 top-0 m-3">
                            <a href="{{ path('calendar_index') }}" class="btn btn-primary d-flex justify-content-center align-items-center">Mon Agenda <i data-feather="calendar" class="ms-3"></i></a>
                        </div>
                        <div class="meetup-img-wrapper rounded-top text-center">
                            <img src="{{asset('assets/vuexy/images/illustration/email.svg')}}" alt="Meeting Pic" height="170" />
                        </div>
                        <div class="card-body">
                            {% set day_of_week = { 
                                    "Monday": "Lundi", 
                                    "Tuesday": "Mardi", 
                                    "Wednesday": "Mercredi", 
                                    "Thursday": "Jeudi", 
                                    "Friday": "Vendredi", 
                                    "Saturday": "Samedi", 
                                    "Sunday": "Dimanche" 
                                } 
                            %}
                            {% for event in eventsOfTheDay %}
                            <div class="meetup-header d-flex align-items-center">
                                <div class="meetup-day">
                                    <h6 class="mb-0 text-uppercase">{{day_of_week[event.start|date("l")]}}</h6>
                                    <h3 class="mb-0">{{event.start|date("d")}}</h3>
                                </div>
                                <div class="my-auto">
                                    <h4 class="card-title mb-25">{{event.title}}</h4>
                                    <p class="card-text mb-0">{{event.start|date("\\à g\\hi")}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% for event in upcomingEvents %}
                            <div class="mt-0">
                                <div class="avatar float-start bg-light-primary rounded me-1">
                                    <div class="avatar-content">
                                        <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="more-info">
                                    <h6 class="mb-0">{{event.title}}</h6>
                                    <small>{{event.start|date("d/m/Y \\à g\\hi")}}</small>
                                </div>
                            </div>
                            {% endfor %}
                            {% if upcomingEvents|length == 0 %}
                                <div class="alert alert-secondary">Aucun évenement à venir.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--/ Developer Meetup Card -->
    
                <!-- Browser States Card -->
                <div class="col-lg-12 col-12">
                    <h6 class="display-6" style="font-size : 20px;">Votre liste de contact :</h6>
                    <div class="card card-company-table pb-5" style="min-height: 300px;">
                        {# <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr >
                                            <th scope="col" class="p-3"></th>
                                            <th scope="col" class="p-3">Prénoms</th>
                                            <th scope="col" class="p-3">Email</th>
                                            <th scope="col" class="p-3">Téléphone</th>
                                            <th scope="col" class="p-3">Adresse</th>
                                            <th scope="col" class="p-3">Tags</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if contacts|length < 1 %}
                                            <div class="d-flex justify-content-center my-2">
                                                <a href="{{ path('agent_contact_info_add') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Ajouter un contact</a>
                                            </div>
                                        {% else %}
                                            {% for contact in contacts %}
                                            {% set information = contact.information %}
                                                <tr>
                                                    <td class="text-center"><i class="fa-solid fa-address-card"></i></td>
                                                    <td><a href="{{ path('agent_contact_view', {'id': contact.id}) }}" class="text-black"> {{ information.lastname }}</a></td>
                                                    <td><a href="{{ path('agent_contact_view', {'id': contact.id}) }}" class="text-black" > {{ information.email }}</a></td>
                                                    <td>{{ information.phone }}</td>
                                                    <td>{{ information.address }}</td>
                                                    <td>
                                                        {% set tags = information.contact.tags.toArray %}
                                                        {% for tag in tags %}
                                                            <div class="caret caret-shadow caret-hoverable rounded-3 d-inline-block bg-{{ tag.couleur }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{ tag.libelle }}"></div>
                                                        {% endfor %}
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% if contacts|length > 0 %}
                            <div class="position-absolute bottom-0 start-50 translate-middle-x mb-3">
                                <a href="{{ path('agent_contact_list') }}" class="btn btn-primary float-bottom">Voir plus <i class="fa-solid fa-circle-arrow-right ms-1"></i></a>
                            </div>
                            {% endif %}
                        </div> #}
                    </div>
                </div>
                <!--/ Browser States Card -->
    
                <!-- Goal Overview Card -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Aperçu des objectifs</h4>
                            <i data-feather="help-circle" class="font-medium-3 text-muted cursor-pointer"></i>
                        </div>
                        <div class="card-body p-0">
                            <div id="goal-overview-radial-bar-chart" class="my-2"></div>
                            <div class="row border-top text-center mx-0">
                                <div class="col-6 border-end py-1">
                                    <p class="card-text text-muted mb-0">Terminé</p>
                                    <h3 class="fw-bolder mb-0">786,617</h3>
                                </div>
                                <div class="col-6 py-1">
                                    <p class="card-text text-muted mb-0">En cours</p>
                                    <h3 class="fw-bolder mb-0">13,561</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Goal Overview Card -->
    
                <!-- Liste Formation -->
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="card card-transaction">
                        <div class="card-header">
                            <h4 class="card-title">Analyse clients</h4>
                            {# <div class="dropdown chart-dropdown">
                                <i data-feather="more-vertical" class="font-medium-3 cursor-pointer" data-bs-toggle="dropdown"></i>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">28 derniers jours</a>
                                    <a class="dropdown-item" href="#">Le mois dernier</a>
                                    <a class="dropdown-item" href="#">L'année dernière</a>
                                </div>
                            </div> #}
                        </div>
                        <div class="card-body">
                            {% for client in topClients %}
                            <div class="transaction-item">
                                <div class="d-flex">
                                    <div class="avatar bg-light-primary rounded float-start">
                                        <div class="avatar-content">
                                            <i data-feather="user" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="transaction-percentage">
                                        <h6 class="transaction-title">{{client.prenom}} {{client.nom}}</h6>
                                        <small>{{client.email}}</small>
                                    </div>
                                </div>
                                {# <div class="fw-bolder text-danger">- $74</div> #}
                                <div class="fw-bolder text-success">{{loop.index}}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--/ Liste Formation -->
            </div>

            <div class="row match-height">
                <div class="col-lg-4 col-12">
                    <div class="row match-height">
                        <!-- Bar Chart - Orders -->
                        <div class="col-lg-6 col-md-3 col-6">
                            <div class="card">
                                <div class="card-body pb-50">
                                    <h6>Commandes</h6>
                                    <h2 class="fw-bolder mb-1">2,76k</h2>
                                    <div id="statistics-order-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!--/ Bar Chart - Orders -->
    
                        <!-- Line Chart - Profit -->
                        <div class="col-lg-6 col-md-3 col-6">
                            <div class="card card-tiny-line-stats">
                                <div class="card-body pb-50">
                                    <h6>Profit</h6>
                                    <h2 class="fw-bolder mb-1">6,24k</h2>
                                    <div id="statistics-profit-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!--/ Line Chart - Profit -->
    
                        <!-- Earnings Card -->
                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="card earnings-card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4 class="card-title mb-1">Gains</h4>
                                            <div class="font-small-2">Ce mois-ci</div>
                                            <h5 class="mb-1">$4055.56</h5>
                                            <p class="card-text text-muted font-small-2">
                                                <span class="fw-bolder">68.2%</span><span> plus de revenus que le mois dernier.</span>
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div id="earnings-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Earnings Card -->
                    </div>
                </div>
    
                <!-- Revenue Report Card -->
                <div class="col-lg-8 col-12 {% if estDemandeDevis %}d-none{% endif %}">
                    <div class="card card-revenue-budget">
                        <div class="row mx-0">
                            <div class="col-md-8 col-12 revenue-report-wrapper">
                                <div class="d-sm-flex justify-content-between align-items-center mb-3">
                                    <h4 class="card-title mb-50 mb-sm-0">Rapport sur les revenus</h4>
                                    {# <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center me-2">
                                            <span class="bullet bullet-primary font-small-3 me-50 cursor-pointer"></span>
                                            <span>Gain</span>
                                        </div>
                                        <div class="d-flex align-items-center ms-75">
                                            <span class="bullet bullet-warning font-small-3 me-50 cursor-pointer"></span>
                                            <span>Frais</span>
                                        </div>
                                    </div> #}
                                </div>
                                <div id="revenue-report-chart"></div>
                            </div>
                            <div class="col-md-4 col-12 budget-wrapper" >
                                <div class="btn-group">
                                    <form method="get" id="form-annee">
                                        <input name="annee" type="hidden" value="{{annee}}" />
                                    </form>
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle budget-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="anneeSelected">{{annee}}</span>
                                    </button>
                                    <div class="dropdown-menu" id="anneeContainer">
                                        {% for i in 2020..anneeActuelle %}
                                            <div class="dropdown-item annee-item" data-annee="{{i}}">{{i}}</div>
                                        {% endfor %}
                                        
                                    </div>
                                    
                                    
                                </div>
                                <h2 class="mb-25">{{revenuAnnee.total | number_format(2, ',', ' ')}} €</h2>
                                {# <div class="d-flex justify-content-center">
                                    <span class="fw-bolder me-25">Budget:</span>
                                    <span>56,800</span>
                                </div>
                                <div id="budget-chart"></div>
                                <button type="button" class="btn btn-primary">Augmenter le budget</button> #}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Revenue Report Card -->
            </div>
    
       
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('app-assets/vendors/js/charts/apexcharts.min.js')}}"></script>
    <script type="text/javascript">
        $(window).on('load', function () {
            var revenuAnnee = {{revenuAnnee.result |json_encode() | raw}};
            var data = [];
            var label = [];
            for(let i=0;i<revenuAnnee.length; i++){
                data.push(parseInt(revenuAnnee[i]['montant']));
                label.push(revenuAnnee[i]['mois_str']);
            }

            var $revenueReportChart = document.querySelector('#revenue-report-chart');
            var formAnnee = $('#form-annee');
            var revenueReportChartOptions;
            var revenueReportChart;
            var $textMutedColor = '#b9b9c3';
            var anneeSelected = $('#anneeSelected');


            $('#anneeContainer .annee-item').click(function (e){
                let val = $(this).attr('data-annee');
                anneeSelected.html(val);
                formAnnee.find('input[name="annee"]').val(val);
                formAnnee.submit();
            });

            //------------ Revenue Report Chart ------------
            //----------------------------------------------
            revenueReportChartOptions = {
                chart: {
                height: 230,
                stacked: true,
                type: 'bar',
                toolbar: { show: false }
                },
                plotOptions: {
                bar: {
                    columnWidth: '17%',
                    endingShape: 'rounded'
                },
                distributed: true
                },
                colors: [window.colors.solid.primary, window.colors.solid.warning],
                series: [
                {
                    name: 'Revenu',
                    data: data
                }
                ],
                dataLabels: {
                enabled: false
                },
                legend: {
                show: false
                },
                grid: {
                padding: {
                    top: -20,
                    bottom: -10
                },
                yaxis: {
                    lines: { show: false }
                }
                },
                xaxis: {
                categories: label,
                labels: {
                    style: {
                    colors: $textMutedColor,
                    fontSize: '0.86rem'
                    }
                },
                axisTicks: {
                    show: false
                },
                axisBorder: {
                    show: false
                }
                },
                yaxis: {
                labels: {
                    style: {
                    colors: $textMutedColor,
                    fontSize: '0.86rem'
                    }
                }
                }
            };
            revenueReportChart = new ApexCharts($revenueReportChart, revenueReportChartOptions);
            revenueReportChart.render();

            
        });
    </script>
    
{% endblock %}