{% extends 'base.html.twig' %}

{% block title %}
    Liste des agents
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <!-- Formulaire de recherche -->
        <div class="search-form">
            {{form_start(searchForm)}}
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-4">
                    {{form_row(searchForm.prenom)}}
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    {{form_row(searchForm.email)}}
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    {{form_row(searchForm.telephone)}}
                </div>
                <div class="col-12 col-sm-12 col-md-12 mt-3">
                    <button class="btn btn-primary "><i class="fa-solid fa-magnifying-glass"></i> Rechercher</button>
                </div>
            </div>
            {{form_end(searchForm)}}
        </div>
        <!-- Liste coach -->
        <div class="row mb-3">
            <div class="col-12  mt-2 mt-md-3">
                <div class="row mb-4 mt-3 mt-m-0">
                    <div class="col-12 col-md-6 order-2 order-md-1">
                        <h4><i class="fa fa-book-atlas"></i> Liste des coachs</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom et prénoms</th>
                    <th scope="col">Email</th>
                    <td>Téléphone</td>
                    <th scope="col">ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for coach in coachs %}
                    <tr>
                        <td>{{ coach.id }}</td>
                        <td>{{ coach.fullName }}</td>
                        <td>{{ coach.email }}</td>
                        <td>{{ coach.telephone }}</td>
                        <td >
                            {% set chatCanal =  render(controller(
                                'App\\Controller\\ChatController::getSingleCanalBy_idUser',
                                {
                                    id: coach.id
                                }
                                ))
                            %}

                            <a href="#" class="btn btn-primary chat-choose-canal" data-canal="{{ chatCanal|url_encode }}">
                                <i class="fa-brands fa-facebook-messenger"></i> Envoyer un message
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="5">Aucun Coach trouvé</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="pagination d-flex justify-content-center">
            {{ knp_pagination_render(coachs)}}
        </div>
    </div>
{% endblock %}
