<div class="container">
     {{ form_start(formUserPassword) }}

        {{ form_rest(formUserPassword) }}
        <div class="row">
            <div class="col-md-12 text-end"><button class="btn {{btn_class}}">{{ button|default('Ajouter') }} <i class="fa-solid fa-circle-check ms-2"></i></button></div>
        </div>
    {{ form_end(formUserPassword) }}
</div>