{% extends 'security/login.html.twig' %}

{% block form %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-6">{{ form_row(form.prenom) }}</div>
        </div>
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.adresse) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.numeroSecurite) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.rib) }}
            </div>
        </div>
        {{ form_rest(form)  }}
        <div class="row">
            <div class="col-md-12 text-end"><button class="btn btn-primary" type="submit"><i class="fa-solid fa-clipboard-check"></i> Enregistrer et continuer <i class="fa-solid fa-angles-right"></i></button></div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}
