{% extends 'base_admin.html.twig' %}

{% block title %}
	Information coach
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<style>
		.form-add-coach{
			padding: 0 100px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="my-5">
		<div class="content-body-form">
			<a href="{{ path('admin_coach_list') }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>
			<div class="form-add-coach">
				<div class="container">
					<div class="row">
						<div class="col-9">
							<h1 class="text-center fw-bold">Information personnelle</h1>
							{{ form_start(formUser) }}
								<div class="row">
									<div class="col-md-6">
										{{ form_row(formUser.nom, { attr: { placeholder : "Nom de l'utilisateur", readonly : true } }) }}
									</div>
									<div class="col-md-6">{{ form_row(formUser.prenom, { attr: { placeholder : "Prénom de l'utilisateur", readonly : true }}) }}</div>
								</div>
								{{ form_row(formUser.email, { attr: { placeholder : "E-mail de l'utilisateur", readonly : true  }, type : "email" }) }}
								{{ form_row(formUser.dateNaissance, { attr: { readonly : true } }) }}
								{{ form_row(formUser.adresse, { attr: { placeholder : "Adresse de l'utilisateur", readonly : true } }) }}
								<div class="row">
									<div class="col-md-6">
										{{ form_row(formUser.numeroSecurite, { attr: { readonly : true } }) }}
									</div>
									<div class="col-md-6">
										{{ form_row(formUser.rib, { attr: { readonly : true } }) }}
									</div>
								</div>
								{{ form_rest(formUser)  }}
								<div class="row">
									<div class="col-md-12 text-end"><button class="btn btn-success my-4">Enregistrer</button></div>
								</div>
							{{ form_end(formUser) }}
						</div>
						<div class="col-3">
							<h1 class="text-center fw-bold">Secteur</h1>
							<div class="text-center">
								{% if coachSecteur|length < 1 %}
									<a href="{{ path('admin_coach_secteur_relate', {id : coach.id, edition: 'attribution_only'}) }}" class="btn btn-primary"><i class="fa-solid fa-chart-pie"></i> Attribuer</a>
								{% else %}
									<a href="#" data-secteur-value="{{ coachSecteur.secteur.nom }}" data-coachSecteur-id="{{ coachSecteur.id }}" data-bs-toggle="modal" data-bs-target="#modal-edit-coach-secteur" class="text-decoration-none js-btn-edit-secteur">
										<i class="fa-solid fa-pen-to-square"></i> <span class="secteur-name">{{coachSecteur.secteur.nom}} </span> 
									</a> 		
								{% endif %}
								

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
    <!-- Edition secteur  -->
    <div class="modal fade" id="modal-edit-coach-secteur" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
				{{ form_start(formSecteur) }}
                <div class="modal-header">
                    <h5 class="modal-title text-success"><i class="fa-solid fa-pen-to-square"></i> Changer son secteur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<div class="row">
						<div class="col">
							<h3>Secteur courant</h3>
							<h6 id="current-sector">Secteur</h6>
						</div>
						<div class="col">
							<h3>Changer par</h3>
							{{ form_row(formSecteur.secteur) }}
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button id="btn-saveSector" type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Changer</button>
                </div>
				{{ form_end(formSecteur) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
		$(function() {
			$('.js-btn-edit-secteur').on('click', function () {
				let that = $(this);
				let secteurVal = that.attr("data-secteur-value");
				let coachSecteurId = that.attr("data-coachSecteur-id");
				
				// Mettre à jour le nom du secteur dans le modal
				$('#current-sector').text(secteurVal);
				
				// Submit action
				$('#btn-saveSector').on('click', function(){
					let newSecteurId = $('select#coach_secteur_secteur').val();
					let urlEditUserSecteur = `/admin/coach/secteur/${coachSecteurId}/edit`

					let data = {
						'secteurVal' : secteurVal,
						'newSecteurId' : newSecteurId,
						'coachSecteurId' : coachSecteurId
					};

					$.ajax({	
						url: urlEditUserSecteur,
						data: data,
						type: "POST",
						beforeSend : function(){
							$('#btn-saveSector').html('<div class="spinner-border text-light" role="status"><span class="visually-hidden">Loading...</span></div>')
						},
						success: function(responseAjax){
							$('[data-bs-dismiss="modal"]').trigger('click')
							$('#btn-saveSector').html('<i class="fa-solid fa-floppy-disk"></i> Changer');

							if (responseAjax.edit === 'successfully') {
								that.find('.secteur-name').text(responseAjax.newSector);
							}
						},
						error : function(){
							$('#btn-saveSector').html('<i class="fa-solid fa-floppy-disk"></i> Changer');
						}
					});
				})

			})
		})
	</script>
{% endblock %}