{% extends 'base_admin.html.twig' %}

{% block title %}
	Génération mot de passe coach
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<style>
		.form-add-coach{
			padding: 0 100px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container my-5">
		<a href="{{ path('admin_coach_list') }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>
	    
		<!-- Message alert -->
        <div class="alert-messager">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

		<!-- Formulaire -->
		<div class="content-body-form">
			<h1 class="text-center fw-bold">3- Information sur la connexion</h1>
     		
			{{ form_start(formUserPassword) }}
			<div class="block-password-form mt-5">
				<label for="inscription_agent_username" class="form-label">Pseudo/Email (Utile pour la connexion)</label>
				{{ form_row(formUserPassword.username, { attr: { placeholder : "Nom ou prénom de l'utilisateur" } }) }}
				
				<label for="inscription_agent_password" class="form-label">Mot de passe</label>
				{{ form_row(formUserPassword.password) }}
			</div>
			
			<div class="col-md-12 text-end"><button class="btn btn-success my-4">Enregistrer <i class="fa-solid fa-floppy-disk"></i></button></div>
     		{{ form_end(formUserPassword) }}
		</div>
	</div>
{% endblock %}
