{% extends 'base_admin.html.twig' %}

{% block title %}
	Liste des coachs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}	
    <div class="container mt-3">
        <!-- Message alert -->
        <div class="alert-message">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- Formulaire de recherche -->
        <div class="search-form">
            {{form_start(searchForm)}}
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    {{form_row(searchForm.prenom)}}
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    {{form_row(searchForm.email)}}
                </div>
				<div class="col-12 col-sm-6 col-md-3">
                    {{form_row(searchForm.telephone)}}
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <button class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            {{form_end(searchForm)}}
        </div>

        <!-- Liste coach -->
        <div class="row mb-3">
            <div class="col-12  mt-2 mt-md-3">
                <div class=" w-100 h-100 ps-3 py-3  bg-white border">
                    <div class="row h-100">
                        <div class="col-6">
                            <h4 class="my-auto">Liste des coachs</h4>
                        </div>
                        <div class="col-6 d-flex float-end">
                            <a href="#" class="btn btn-success btn-sm fw-bolder"><i class="fa-solid fa-user-plus"></i> Ajouter</a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <div class="table-responsive">
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom et prénoms</th>
						<th scope="col">Mail</th>
						<th scope="col">Date inscription</th>
						{# <th scope="col">Secteur</th> #}
						{# <th scope="col">Statut</th> #}
						<th scope="col">ACTION</th>
					</tr>
				</thead>
				<tbody>
					{% for coach in coachs %}
                        <tr>
                            <td>{{ coach.id }}</td>
                            <td>{{ coach.fullName }}</td>
                            <td>{{ coach.email }}</td>
                            <td>{{ coach.createdAt|date('d/m/Y') }}</td>
                            {# <td>{{ coach.secteur }}</td> #}
                            {# <td>{{ coach.active }}</td> #}
                            <td class="d-flex flex-row">
                                {# <form method="post" action="{{path('admin_student_delete', {id: user.id})}}" style="display: inline-block;" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>   

                                <a href="{{ path('admin_student_edit', {'id': user.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="{{ path('admin_user_visualize', {'id': user.id}) }}" class="btn btn-secondary">
                                    <i class="fas fa-eye"></i>
                                </a> #}
                            </td>

                        </tr>
						
					{% endfor %}

				</tbody>
			</table>
		</div>

		<div class="pagination d-flex justify-content-center">
			{{ knp_pagination_render(coachs)}}
		</div>
    </div>
{% endblock %}
