{% extends 'base_admin.html.twig' %}

{% block title %}
	Choix du secteur
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<style>
		.form-relate-secteur{
			padding: 0 30px;
		}

		@media (min-width: 700px) {
			.form-relate-secteur{
				padding: 0 300px;
			}
		}
	</style>
{% endblock %}

{% block body %}
	<div class="my-5">
		<a href="{{ path('admin_coach_edit', {id: coach.id}) }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>
		
		<!-- Message alert -->
        <div class="alert-messager">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

	    <!-- Formulaire -->
		<div class="content-body-form">
			<h1 class="text-center fw-bold">2- Secteur</h1>
			<div class="form-relate-secteur">
				{{ form_start(formCoachSecteur) }}
				{{ form_row(formCoachSecteur.secteur) }}
				<button type="submit" class="btn btn-primary">{{ button|default('Suivant') }} <i class="fa-solid fa-angles-right ms-1"></i></button>
				{{ form_end(formCoachSecteur) }}
			</div>
		</div>
	</div>
{% endblock %}
