{% extends 'base_admin.html.twig' %}

{% block title %}
	Visualisation utilisateur coach
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<a href="{{ path('admin_coach_list') }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>

		<div class="content-card-user-information mt-3">
			<section class="app-user-view-account">
				<div class="row">
					<!-- User Sidebar -->
					<div class="col-12  col-md-7 order-1 order-md-0">
						{{ include ('global/card/_card_user_information.html.twig', {user : coach, secteurs: secteurs}) }}
					</div>
					<!--/ User Sidebar -->

					<!-- User Content -->
					<div class="col-12  col-md-5 order-0 order-md-1">
						<!-- User Pills -->
						<ul class="nav nav-pills mb-2">
							<li class="nav-item">
								<a class="nav-link active" href="{{ path('admin_coach_view', {id: coach.id})}}">
									<i class="fa-solid fa-cube"></i>
									<span class="fw-bold">Secteur</span></a>
							</li>
						</ul>
						<!--/ User Pills -->

						<!-- Project table -->
						<div class="card">
							<h4 class="card-header">Secteurs du coach</h4>
							<div class="table-responsive">
								<div class="alert alert-danger d-none alert-errorMessages"></div>
								<a href="{{ path('admin_coach_secteur_relate', {id : coach.id, edition:'attribution_only'}) }}" class="btn btn-primary float-end my-4 me-4"><i class="fa-solid fa-circle-plus"></i> Modifier secteur</a>

								<table class="table datatable-project">
									<thead>
										<tr>
											<th></th>
											<th>Secteur</th>
											<th class="text-nowrap">Description</th>
										</tr>
									</thead>
									<tbody>
										{% for coachtSecteur in coachtSecteurs %}
											<tr>
												<th></th>
												<th>{{ coachtSecteur.secteur.nom }}</th>
												<th>{{ coachtSecteur.secteur.description }}</th>
											</tr>
										{% else %}
											<div class="text-center">
												Aucun secteur n’est attribué au coach
											</div>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- /Project table -->

					</div>
					<!--/ User Content -->
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('vuexy_app_user_view_js') }}
{% endblock %}
