{% extends 'base_admin.html.twig' %}

{% block title %}
	Visualisation utilisateur coach
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<a href="{{ path('admin_coach_list') }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>

		<div class="content-card-user-information mt-3">
			{{ include ('global/card/_card_user_information.html.twig', {user : coach}) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('vuexy_app_user_view_js') }}
{% endblock %}
