{% extends 'base_client.html.twig' %}

{% block title %}
	Commandes
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="block block--bordered block--rounded">
        <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
        <div class="filter-wrap">
            
            {{ form_start(form, {'attr': {'class': 'filter-form', 'id': 'product-filter-form'}}) }}
                <div class="my-form-widget">
                    {{form_label(form.status)}}
                    {{form_widget(form.status)}}
                    {{form_errors(form.status)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.dateMin)}}
                    {{form_widget(form.dateMin)}}
                    {{form_errors(form.dateMin)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.dateMax)}}
                    {{form_widget(form.dateMax)}}
                    {{form_errors(form.dateMax)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.sort)}}
                    {{form_widget(form.sort)}}
                    {{form_errors(form.sort)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.direction)}}
                    {{form_widget(form.direction)}}
                    {{form_errors(form.direction)}}
                </div>
                
                <div class="btn-wrap">
                    <button class="btn btn-primary" type="submit"><i data-feather="filter"></i>Filtrer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="block block--bordered block--rounded">
        <div class="block__header mb-1" >
            <h1 class="block__title">Liste des commandes :</h1>
            
        </div>
        {% if orderList|length ==0 %}
                <div class="alert alert-primary p-3 text-center" role="alert">
                    <div class="alert-body">
                        Aucune commande.
                    </div>
                </div>
        {% endif %}
        {% if orderList|length !=0 %}
        <div class="table-responsive mb-1">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Montant TTC</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orderList %}
                    <tr>
                        <td>{{order.orderDate | date("d/m/Y H:i")}}</td>
                        <td class="text-right">{{order.montantTtc | number_format(2, ',', ' ') }} €</td>
                        <td>{{order.statusStr}}</td>
                        <td class="col-action ">
                            <a href="{{path('client_aroma_order_details', {'id': order.id, 'token': token})}}">
                                <i data-feather="eye"></i>
                            </a>
                        </td>

                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center scale-up-center">
            {{ knp_pagination_render(orderList) }}
        <div>
        {% endif %}
    </div>

{% endblock %}

