{% extends 'base.html.twig' %}

{% block title %}
	Devis détails
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<!-- BEGIN: Content-->
    <div class="app-content content client ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Produit</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="bs-stepper checkout-tab-steps">
                    <div class="bs-stepper-content">
                        <div class="active dstepper-block" role="tabpanel" >
                        <div id="place-order" class="list-view product-checkout">
                            <!-- Produit -->
                            <div class="checkout-items">
                                <div class="card ecommerce-card">
                                    <div class="item-img">
                                        <a href="#">
                                            <img src="{{ asset( filesDirectory ~ dd.produit.photo) }}" alt="Image pour {{dd.produit.nom}}" />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-name">
                                            <h6 class="mb-0"><a href="#" class="text-body">{{dd.produit.nom}}</a></h6>
                                        </div>
                                        <p class="card-text">
                                            {{dd.description|raw}}
                                        </p>
                                    </div>
                                </div>                                
                            </div>
                            <!-- Produit -->

                            <!-- Demande devis -->
                            <div class="checkout-options">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="section-label form-label mb-1">Détails | Client</label>
                                        <hr />
                                        <div class="price-details">
                                            <ul class="list-unstyled">
                                                <li class="price-detail">
                                                    <div class="detail-title">Date</div>
                                                    <div class="detail-amt">{{dd.dateDemande | date("d/m/Y H:i")}}</div>
                                                </li>
                                                {# <li class="price-detail">
                                                    <div class="detail-title">Statut</div>
                                                    <div class="detail-amt discount-amt text-primary">{{order.statusStr}}</div>
                                                </li> #}
                                                <li class="price-detail">
                                                    <div class="detail-title">Nom</div>
                                                    <div class="detail-amt">{{dd.nom}}</div>
                                                </li>

                                                {% if dd.prenom %}
                                                <li class="price-detail">
                                                    <div class="detail-title">Prénom</div>
                                                    <div class="detail-amt">{{dd.prenom}}</div>
                                                </li>
                                                {% endif %}

                                                <li class="price-detail">
                                                    <div class="detail-title">Adresse Email</div>
                                                    <div class="detail-amt">{{dd.email}}</div>
                                                </li>

                                                {% if dd.telephone %}
                                                <li class="price-detail">
                                                    <div class="detail-title">Téléphone</div>
                                                    <div class="detail-amt">{{dd.telephone}}</div>
                                                </li>
                                                {% endif %}

                                                
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- Checkout Place Order Right ends -->
                            </div>
                            <!-- Demande devis -->

                            <!-- Devis -->
                            <div class="checkout-items">
                                {% if dd.files %}
                                    <div class="card"> 
                                        <div class="card-header">
                                            <i class="fa-solid fa-align-justify me-2"></i> Fichiers | Demande devis
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-start flex-wrap" id="files-container">
                                                {% for file in dd.filesShortName %}
                                                <div class="file-block m-2">
                                                {# {{ loop.index }} #}
                                                    <div class="d-flex align-items-center">
                                                        <div class="mx-2"><span><i class="fa-regular fa-file fa-lg"></i></span></div>
                                                        <div><span>{{file}}</span></div>
                                                    </div>
                                                    
                                                    <div class="file-close"><a href="{{path('agent_demandedevis_file_download', {'id': dd.id, 'index': loop.index - 1})}}"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></div>
                                                </div>
                                                {% endfor %}    
                                            </div>
                                        </div>
                                    </div>    
                                {% endif %}  
                            </div>
                            <!-- Devis -->
                        </div>
                    </div>
                </div>    
            </div>
            <hr class="mb-5">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Détails devis</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="bs-stepper checkout-tab-steps">
                    <div class="bs-stepper-content">
                        <div class="active dstepper-block" role="tabpanel" >
                        <div id="place-order" class="list-view product-checkout">
                            <!-- Checkout Place Order Left starts -->
                            <div class="checkout-items">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="item-name">
                                                    <h5 class="mb-0"><a href="#" class="text-body">{{devis.title|capitalize}}</a></h5>
                                                </div>
                                                <div class="item-name mt-2 mb-4 mb-5">
                                                    <h6 class="mb-0"><a href="#" class="text-body"><span class="fw-bolder"> Date :</span> {{devis.createdAt|date('d/m/Y')}}</a></h6>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="float-end">
                                                    {% if devis.statusInt == DEVIS_STATUS_INT["REJECTED"] %}
                                                        <span class="text-danger fw-bolder h5">Rejeté !</span>  
                                                    {% elseif devis.statusInt == DEVIS_STATUS_INT["PAID"] %}
                                                        <span class="text-success fw-bolder h5">Payé <i class="fa-solid fa-circle-check ms-2"></i></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        {% if (devis.statusInt == DEVIS_STATUS_INT["CREATED"] and not dd.paidDevis) %}
                                            {{ form_start(formDevis) }}
                                                <p class="card-text">
                                                    <span class="fw-bolder h3">Prix :</span> <br>
                                                    {{form_widget(formDevis.price)}}
                                                </p>
                                                <p class="card-text">
                                                    <span class="fw-bolder h3">Description :</span> <br>
                                                    {{form_widget(formDevis.content, {'attr': {'rows':'7', 'cols':'50'}})}}
                                                </p>
                                                <p class="card-text">
                                                    <button class="btn btn-primary" type="submit">Modifier le devis <i class="fa-solid fa-floppy-disk ms-2"></i></button>
                                                </p>
                                            {{form_end(formDevis)}}
                                        {% else %}
                                            <p class="card-text">
                                                <span class="fw-bolder h3">Description :</span> <br>
                                                {{ devis.content|raw}}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>    
                                <!-- Checkout Place Order Left starts -->
                                <div class="checkout-items">
                                    {% if devis.files %}
                                        <div class="card"> 
                                            <div class="card-header">
                                                 <i class="fa-solid fa-arrow-trend-up me-2"></i> Fichiers | Devis
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center justify-content-start flex-wrap" id="files-container">
                                                    {% for file in devis.filesShortName %}
                                                    <div class="file-block m-2">
                                                    {# {{ loop.index }} #}
                                                        <div class="d-flex align-items-center">
                                                            <div class="mx-2"><span><i class="fa-regular fa-file fa-lg"></i></span></div>
                                                            <div><span>{{file}}</span></div>
                                                        </div>
                                                        
                                                        <div class="file-close"><a href="{{path('agent_devis_file_download', {'devis': devis.id, 'index': loop.index - 1})}}"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></div>
                                                    </div>
                                                    {% endfor %}    
                                                </div>
                                            </div>
                                        </div>    
                                    {% endif %}  
                                </div>
                                <!-- Checkout Place Order Left ends -->                            
                            </div>
                            {% if devis.statusInt == DEVIS_STATUS_INT["PAID"]  %}
                                <div class="checkout-options">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="section-label form-label mb-1">{{devis.title}}</label>
                                            <hr />
                                            <div class="price-details">
                                                {% if devis.contratFileName %}
                                                    <a href="/files/{{devis.contratFileName}}" download  class="btn btn-primary w-100 btn-next place-order">Exporter pdf  <i class="fa-solid fa-file-arrow-down"></i></a>
                                                {% endif %}                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>    

            </div>
        </div>
    </div>
    <!-- END: Content-->
{% endblock %}


