{% extends 'base.html.twig' %}

{% block title %}
	Devis Entreprise détail
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<!-- BEGIN: Content-->
    <div class="app-content content client ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="float-end">
                        
                        <a href="{{ path('agent_company_devis_send_mail_to_client', {id: devisCompany.id}) }}" class="btn btn-success"  onclick="return confirm('Êtes vous  sûr ?')">Envoyer un email <i class="fa-solid fa-paper-plane"></i></a>
                        <a href="{{ path('agent_company_devis_edit', {id: devisCompany.id}) }}" class="btn btn-primary">Modifier <i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            
            
            
            {% if devisCompany.imageService %}

            <div class="content-header-left col-md-9 col-12 mb-4">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Service</h2>
                    </div>
                </div>
            </div>
           
            <div class="content-body">
                <div class="bs-stepper checkout-tab-steps">
                    <div class="bs-stepper-content">
                        <div class="checkout-options">
                            <div class="card">
                                <div class="card-body">
                                    <label class="section-label form-label mb-1">Image</label>
                                    <hr />
                                    <div class="service-info text-center">
                                        <img src="{{ asset('/files/' ~ devisCompany.imageService ) }}" width="400" alt=""> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}



            <div class="content-header-left col-md-9 col-12 mb-4">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Informations société/client</h2>
                    </div>
                </div>
            </div>
           
            <div class="content-body">
                <div class="bs-stepper checkout-tab-steps">
                    <div class="bs-stepper-content">
                        <div class="checkout-options">
                            <div class="card">
                                <div class="card-body">
                                    <label class="section-label form-label mb-1">Société</label>
                                    <hr />
                                    <div class="company-info">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="company-logo">
                                                    {% if devisCompany.companyLogo %}
                                                        <img src="{{ asset('/files/' ~ devisCompany.companyLogo ) }}" width="150" alt=""> 
                                                    {% else %}
                                                        <img src="{{ asset('/assets/img/default-img.png') }}" width="150" alt=""> 
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="company_info_detail mt-4">
                                                    <h6 class="fw-bolder">Information Société</h6>
                                                    {{devisCompany.companyInfo|raw}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="active dstepper-block" role="tabpanel" >
                        <div class="client-info">
                            <div class="checkout-options">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <label class="section-label form-label mb-1">Détails | Client</label>
                                                <hr />
                                                 <div class="client-info">
                                                    <div class="client-email">
                                                        <h6 class="fw-bolder">Client Email</h6>
                                                        {{devisCompany.clientMail}}
                                                    </div>
                                                    <div class="client mt-5">
                                                        <h6 class="fw-bolder">Information Client</h6>
                                                        {{devisCompany.clientInfo|raw}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if devisCompany.status ==  DEVIS_STATUS_INT['SIGNED'] %}
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <label class="section-label form-label mb-1">Informations du client qui signé</label>
                                                    <hr />
                                                    <div class="client-info">
                                                        <h6 class="fw-bolder">Client nom et prénom</h6>
                                                        {{devisCompany.anonymousClientName}}
                                                        <h6 class="fw-bolder mt-4">Client email</h6>
                                                        {{devisCompany.anonymousClientMail}}
                                                        <h6 class="fw-bolder mt-4">Client téléphone</h6>
                                                        {{devisCompany.anonymousClientPhone}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                    

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr class="mb-5">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Détails devis</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="bs-stepper checkout-tab-steps">
                    <div class="bs-stepper-content">
                        <div class=" active dstepper-block" role="tabpanel" >
                        <div id="place-order" class="list-view  product-checkout">
                            <!-- Checkout Place Order Left starts -->
                            <div class="checkout-items">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">

                                                <div class="item-name my-2 mb-5">
                                                    <h6 class="mb-0"><a href="#" class="text-body"> <span class="fw-bolder">Date :</span> {{devisCompany.createdAt|date('d/m/Y')}}</a></h6>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="float-end">
                                                    {% if devisCompany.status == DEVIS_STATUS_INT["CREATED"] %}
                                                        <span class="text-primary fw-bolder h5">Créé <i class="fa-solid fa-file"></i></span>
                                                    {% elseif devisCompany.status == DEVIS_STATUS_INT["REJECTED"] %}
                                                        <span class="text-danger fw-bolder h5">Rejeté <i class="fa-solid fa-trash"></i></span>  
                                                    {% elseif devisCompany.status == DEVIS_STATUS_INT["SIGNED"] %}
                                                        <span class="text-success fw-bolder h5">Signé <i class="fa-solid fa-circle-check ms-2"></i></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row container" style="width: 600px;">
                                            <div class="table-responsive">
                                                <table class="table" style="width: 900px;">
                                                    <thead>
                                                        <tr style="background-color: #eceff1;">
                                                            <th>Référence</th>
                                                            <th>Désignation</th>
                                                            <th>Quantité</th>
                                                            <th>PU Vente</th>
                                                            <th>TVA</th>
                                                            <th>Montant HT</th>
                                                            <th>Image</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for devisCompanyDetail in devisCompany.devisCompanyDetail %}
                                                        <tr style="font-size: 13px;">
                                                            <td>{{devisCompanyDetail.reference}}</td>
                                                            <td>{{devisCompanyDetail.designation|raw}}</td>
                                                            <td class="text-right">{{devisCompanyDetail.quantite}}</td>
                                                            <td class="text-right">{{devisCompanyDetail.puVente}}</td>
                                                            <td class="text-right">{{devisCompanyDetail.tva}}</td>
                                                            <td class="text-right">{{devisCompanyDetail.montantHt}}</td>
                                                            <td>
                                                                {% if devisCompanyDetail.image %}
                                                                    <img src="{{ asset('/files/' ~ devisCompanyDetail.image) }}" width="100" alt="Image" />
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                     
                                    </div>
                                </div>                                
                            </div>

                            <div class="checkout-options">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="section-label form-label mb-1">Prix</label>
                                        <hr />
                                        <div class="price-details">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div class="devis-price-details">
                                                        <ul class="list-unstyled">
                                                            <li class="price-detail">
                                                                <div class="detail-title detail-total"> Prix HT :</div>
                                                                <div class="detail-amt fw-bolder" id="total-cost" >{{devisCompany.devisTotalHt|format_currency('EUR', locale='de') }}</div>
                                                            </li>
                                                            <li class="price-detail">
                                                                <div class="detail-title detail-total">Prix TVA (20%) :</div>
                                                                <div class="detail-amt fw-bolder" id="total-cost" >{{ ((devisCompany.devisTotalHt * 20) / 100)|format_currency('EUR', locale='de')  }} </div>
                                                            </li>

                                                            <li class="price-detail text-success h5 mt-2 fw-bolder">
                                                                <div class="detail-title detail-total">Prix TTC :</div>
                                                                <div class="detail-amt" id="total-cost" >{{ devisCompany.devisTotalTtc|format_currency('EUR', locale='de') }} </div>
                                                            </li>
                                                            <hr/>
                                                            <li class="price-detail">
                                                                <div class="detail-title detail-total">Condition de paiement :</div>
                                                                <div class="detail-amt fw-bolder text-success" id="total-cost" >{{ devisCompany.PaymentCondition }} %</div>
                                                            </li>
                                                            <li class="price-detail">
                                                                <div class="detail-title detail-total">Condition de paiement (Provisoire):</div>
                                                                <div class="detail-amt fw-bolder text-danger" id="total-cost" >100 %</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="/files/{{devisCompany.pjFilename}}" download  class="btn btn-primary w-100 btn-next place-order">Exporter pdf  <i class="fa-solid fa-file-arrow-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!-- END: Content-->
{% endblock %}


