{% extends 'base.html.twig' %}

{% block title %}
	Demandes de devis
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {# <div class="block block--bordered block--rounded">
        <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
        <div class="filter-wrap">
            
            {{ form_start(form, {'attr': {'class': 'filter-form', 'id': 'product-filter-form'}}) }}
                <div class="my-form-widget">
                    {{form_label(form.clientName)}}
                    {{form_widget(form.clientName)}}
                    {{form_errors(form.clientName)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.nomProduit)}}
                    {{form_widget(form.nomProduit)}}
                    {{form_errors(form.nomProduit)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.dateMin)}}
                    {{form_widget(form.dateMin)}}
                    {{form_errors(form.dateMin)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.dateMax)}}
                    {{form_widget(form.dateMax)}}
                    {{form_errors(form.dateMax)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.sort)}}
                    {{form_widget(form.sort)}}
                    {{form_errors(form.sort)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.direction)}}
                    {{form_widget(form.direction)}}
                    {{form_errors(form.direction)}}
                </div>
                
                <div class="btn-wrap">
                    <button class="btn btn-primary" type="submit"><i data-feather="filter"></i>Filtrer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div> #}
    <div class="block block--bordered block--rounded">
        <div class="mb-1" >
            <div class="row">
                <div class="col-9">
                    <h1 class="block__title">Liste des demandes de devis :</h1>
                </div>
                <div class="col-3">
                    <a href="{{ path('agent_company_devis_create') }}" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Création devis</a>
                </div>
            </div>
            
        </div>
        
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for devisCompany in allDevisCompanies %}
                    <tr>
                        <td>{{devisCompany.createdAt | date("d/m/Y H:i")}}</td>
                        <td>{{devisCompany.clientMail}} </td>
                        <td class="col-action ">
                            <a href="{{path('agent_company_devis_fiche', {'id': devisCompany.id})}}">
                                <i data-feather="eye"></i>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {# <div class="d-flex justify-content-center scale-up-center">
            {{ knp_pagination_render(ddList) }}
        <div> #}
    </div>

{% endblock %}

