{% extends 'base_client.html.twig' %}

{% block title %}
	Kit de base
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}  
    <!-- BEGIN: Content-->
    <div class="app-content content client ecommerce-application pt-5">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            {# <h2 class="content-header-title float-start mb-0">Détail du produit</h2> #}
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('boutique_home', {'token': token})}}">Accueil</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{{path('boutique_secteursecu', {'token': token, 'id': app.session.get('secteurId')})}}">Ma boutique en ligne</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{{path('boutique_secteursecu', {'token': token, 'id': app.session.get('secteurId')})}}">Les kits de base</a>
                                    </li>
                                    <li class="breadcrumb-item active">Détails
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-body">
                <!-- app e-commerce details start -->
                <section class="app-ecommerce-details">
                    
                    <div class="card">
                        <!-- Product Details starts -->
                        <div class="card-body">
                            <div class="row my-2">
                                {% if kitbase.image %}
                                <div class="col-12 col-md-5 text-center mb-2 mb-md-0">
                                    <img src="{{ asset(filesDirectory ~ kitbase.image) }}" alt="Image pour {{kitbase.nom}}" class="img-fluid product-img" />
                                </div>
                                {% endif %}
                                <div class="col-12 col-md-7">
                                    <h4>{{kitbase.nom}}</h4>
                                    {% if kitbase.description %}
                                    <p class="card-text">
                                        {{kitbase.description|raw}}
                                    </p>
                                    {% endif %}
                                    <div class="item-wrapper">
                                        <div>
                                            <h6 class="item-price">{{kitbase.prix | number_format(2, ',', ' ')}} €</h6>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="d-flex flex-column flex-sm-row pt-1">
                                        {% if is_granted('ROLE_CLIENT') %}
                                        <a href="{{path('client_make_ordersecu', {'token': token, 'id': kitbase.id})}}" class="btn btn-primary btn-cart me-0 me-sm-1 mb-1 mb-sm-0">
                                            <span class="add-to-cart">Commander</span>
                                        </a>
                                        {% endif %}
                                        
                                        {# <div class="btn-group dropdown-icon-wrapper btn-share">
                                            <button type="button" class="btn btn-icon hide-arrow btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i data-feather="share-2"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="#" class="dropdown-item">
                                                    <i data-feather="facebook"></i>
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    <i data-feather="twitter"></i>
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    <i data-feather="youtube"></i>
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    <i data-feather="instagram"></i>
                                                </a>
                                            </div>
                                        </div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product Details ends -->


                    </div>

                    <section id="ecommerce-products" class="grid-view" style="grid-template-columns: repeat(auto-fill, 250px);">
                        {% for elmt in kitbase.elmts %}
                        <div class="card ecommerce-card">
                            <div class="item-img text-center">
                                <a href="#">
                                <img class="img-fluid card-img-top ecommerce-card-img" src="{{ asset( filesDirectory ~ elmt.produit.photo) }}" alt="Image pour {{elmt.produit.nom}}" /></a>
                            </div>
                            <div class="card-body">
                                
                                <h6 class="item-name">
                                    <a class="text-body" href="#">{{elmt.produit.nom}}</a>
                                </h6>

                                {% if elmt.produit.description %}
                                <p class="card-text item-description">
                                    {{elmt.produit.description|raw}}
                                </p>
                                {% endif %}
                                <div class="item-wrapper">
                                    <div>
                                        <h6 class="item-price">Quantité: {{elmt.qte}}</h6>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
                        
                    </section>
                        
                    
            
                </section>
                <!-- app e-commerce details end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock %}


