{% extends 'base_client.html.twig' %}

{% block title %}
	Création devis
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}  
    <!-- BEGIN: Content-->
    <div class="app-content content client ecommerce-application pt-5">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Nom}</h2>
                            {# <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Accueil</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Ma boutique en ligne</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="app-ecommerce-shop.html">Liste des produits</a>
                                    </li>
                                    <li class="breadcrumb-item active">Details
                                    </li>
                                </ol>
                            </div> #}
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-body">
                <!-- app e-commerce details start -->
                <section class="app-ecommerce-details">
                    <div class="block block--bordered block--rounded">
                        <h1 class="block__text block__text--center mt-2" >Demande de devis :</h1>
                            
                        {{ form_start(formDevis, {'attr': {'class': 'my-form', 'id': 'devis-form'}}) }}
                            <div class="my-form-widget">
                                {{form_row(formDevis.title)}}
                            </div>
                            <div class="my-form-widget">
                                {{form_row(formDevis.content)}}
                            </div>
                            <div class="my-form-widget">
                                {{form_row(formDevis.price)}}
                            </div>
                            <div class="d-none">
                                {{form_widget(formDevis.files)}}
                            </div>
                            <div class="my-form-widget">
                                <button class="btn btn-success btn-large" type="button" id="btn-add-file"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter des fichiers</button>
                                {{form_errors(formDevis.files)}}
                            </div>
                            <div class="my-form-widget">
                                <div class="d-flex align-items-center justify-content-start flex-wrap" id="files-container">
                                    {# <div class="file-block m-2">
                                        <span><i class="fa-regular fa-file fa-lg"></i></i>&nbsp;my-file.php</span>
                                        <div class="file-close"><i class="fa-solid fa-xmark fa-lg"></i></div>
                                    </div>

                                    <div class="file-block m-2">
                                        <span><i class="fa-regular fa-file fa-lg"></i></i>&nbsp;my-file.php</span>
                                        <div class="file-close"><i class="fa-solid fa-xmark fa-lg"></i></div>
                                    </div> #}

                                    
                                </div>
                            </div>
                            
                            <div class="btn-wrap">
                                <button class="btn btn-primary" type="submit">Enregistrer<i data-feather="send"></i></button>
                            </div>
                        {{ form_end(formDevis) }}
                    </div>
                    
                </section>
                <!-- app e-commerce details end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->



{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        let files = [];
        let filesInput = $('#devis_files');
        $('#btn-add-file').click(function (e){
            filesInput.click();
        });

        filesInput.change(function (e){
            for(let i=0; i<e.target.files.length; i++){
                addFile(e.target.files[i]);
            }
        });

        function getFileName(fullPath){
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                return filename;
            }
            return "";
        }

        function addFile(newFile){
            files.push(newFile);
            let fileBlock = $(`<div class="file-block m-2">
                <span><i class="fa-regular fa-file fa-lg"></i></i>&nbsp;${newFile.name}</span>
            </div>`);
            let fileClose = $(`<div class="file-close"><i class="fa-solid fa-xmark fa-lg"></i></div>`);
            fileClose.click(function (e) {
                files.splice(files.indexOf(newFile), 1);
                fileBlock.remove();
            });
            fileBlock.append(fileClose);
            $('#files-container').append(fileBlock);
        }

        $('#devis-form').submit(function (e){
            let dt = new DataTransfer();
            for(let i=0; i<files.length; i++){
                dt.items.add(files[i]);
            }
            filesInput[0].files = dt.files;
        });
    </script>
{% endblock %}