{% extends 'base_client.html.twig' %}

{% block title %}
	Liste des options
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %} 
    <!-- BEGIN: Content-->
    <div class="app-content content client ecommerce-application pt-5">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            {# <h2 class="content-header-title float-start mb-0">Shop</h2> #}
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('boutique_home', {'token': token})}}">Accueil</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{{path('boutique_secteursecu', {'token': token, 'id': app.session.get('secteurId')})}}">Ma boutique en ligne</a>
                                    </li>
                                    <li class="breadcrumb-item active">Liste des options
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="content-body pb-4" style="display : grid;grid-template-columns: 2fr 1fr;column-gap: 2rem;">
                    
                    <div class="products">
                        <!-- E-commerce Content Section Starts -->
                        <section id="ecommerce-header" class="mb-1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ecommerce-header-items">
                                        <div class="result-toggler">
                                            <button class="navbar-toggler shop-sidebar-toggler" type="button" data-bs-toggle="collapse">
                                                <span class="navbar-toggler-icon d-block d-lg-none"><i data-feather="menu"></i></span>
                                            </button>
                                            <div class="search-results">{{ productList|length }} résultat(s) trouvé(s)</div>
                                        </div>
                                        <div class="view-options d-flex">
                                            {# <div class="btn-group" role="group">
                                                <input type="radio" class="btn-check" name="radio_options" id="radio_option1" autocomplete="off" checked />
                                                <label class="btn btn-icon btn-outline-primary view-btn grid-view-btn" for="radio_option1"><i data-feather="grid" class="font-medium-3"></i></label>
                                                <input type="radio" class="btn-check" name="radio_options" id="radio_option2" autocomplete="off" />
                                                <label class="btn btn-icon btn-outline-primary view-btn list-view-btn" for="radio_option2"><i data-feather="list" class="font-medium-3"></i></label>
                                            </div> #}
                                            <a role="button" class="btn btn-success w-100 btn-next place-order" href="{{path('client_make_ordersecu_installation', {'token': token})}}">Continuer&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- E-commerce Content Section Starts -->

                        <!-- background Overlay when sidebar is shown  starts-->
                        <div class="body-content-overlay"></div>
                        <!-- background Overlay when sidebar is shown  ends-->

                        
                        <!-- E-commerce Products Starts -->
                        {% if productList|length ==0 %}
                                <div class="alert alert-primary p-3 text-center" role="alert">
                                    <div class="alert-body">
                                        Aucune option disponible pour le moment.
                                    </div>
                                </div>
                        {% endif %}
                        {% if productList|length !=0 %}
                        <section id="ecommerce-products" class="grid-view" style="grid-template-columns: 1fr 1fr;">
                            {% for product in productList %}
                            <div class="card ecommerce-card">
                                <div class="item-img text-center">
                                    <a href="#">
                                    <img class="img-fluid card-img-top ecommerce-card-img" src="{{ asset( filesDirectory ~ product.photo) }}" alt="Image pour {{product.nom}}" /></a>
                                </div>
                                <div class="card-body">
                                    <div class="item-wrapper">
                                        <div>
                                            <h6 class="item-price">{{product.prix | number_format(2, ',', ' ')}}€</h6>
                                        </div>
                                    </div>
                                    <h6 class="item-name">
                                        <a class="text-body" href="#">{{product.nom}}</a>
                                    </h6>
                                    <p class="card-text item-description">
                                        {{product.description|raw}}
                                    </p>
                                </div>
                                <div class="item-options text-center">
                                    {# <div class="item-wrapper">
                                        <div class="item-cost">
                                            <h4 class="item-price">{{product.prix}}€</h4>
                                        </div>
                                    </div> #}
                                    
                                    <a href="{{path('client_make_ordersecu_add_accomp', {'token': token, 'id': product.id})}}" class="btn btn-primary btn-cart" >
                                        <span class="add-to-cart">Ajouter</span>
                                    </a>
                                    
                                </div>
                            </div>
                            {% endfor %}
                            
                        </section>
                        {% endif %}
                        <!-- E-commerce Products Ends -->

                        <!-- E-commerce Pagination Starts -->
                        <div class="d-flex justify-content-center scale-up-center">
                            {{ knp_pagination_render(productList) }}
                        </div>
                    
                        <!-- E-commerce Pagination Ends -->
                    
                    </div>
                    <div class="block block--bordered block--rounded">
                        {% for label, message in app.flashes %}
                            <div class="alert alert-{{label}} p-3 text-center" role="alert">
                                <div class="alert-body">
                                    {{message}}
                                </div>
                            </div>
                        {% endfor %}
                        <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
                        <div class="filter-wrap">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <div class="alert-body">
                                        {{error}}
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_start(form, {'attr': {'class': 'filter-form', 'id': 'product-filter-form'}}) }}
                                
                                <div class="my-form-widget">
                                    {{form_label(form.nom)}}
                                    {{form_widget(form.nom)}}
                                    {{form_errors(form.nom)}}
                                </div>
                                <div class="my-form-widget">
                                    {{form_label(form.description)}}
                                    {{form_widget(form.description)}}
                                    {{form_errors(form.description)}}
                                </div>
                                <div class="my-form-widget">
                                    {{form_label(form.prixMin)}}
                                    {{form_widget(form.prixMin)}}
                                    {{form_errors(form.prixMin)}}
                                </div>
                                <div class="my-form-widget">
                                    {{form_label(form.prixMax)}}
                                    {{form_widget(form.prixMax)}}
                                    {{form_errors(form.prixMax)}}
                                </div>
                                <div class="my-form-widget">
                                    {{form_label(form.sort)}}
                                    {{form_widget(form.sort)}}
                                    {{form_errors(form.sort)}}
                                </div>
                                <div class="my-form-widget">
                                    {{form_label(form.direction)}}
                                    {{form_widget(form.direction)}}
                                    {{form_errors(form.direction)}}
                                </div>
                                <div class="btn-wrap" style="width:250px;">
                                    <button class="btn btn-primary" type="submit" style="width:100%;"><i class="fas fa-filter me-2"></i>Filtrer</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>

        </div>
    </div>
    <!-- END: Content-->

{% endblock %}



