{% extends 'base.html.twig' %}

{% block title %}
    Paramètre du compte utilisateur
{% endblock %}

{% block body %}
    <div class="row breadcrumbs-top mb-4">
        <div class="col-12 ">
            <h2 class="content-header-title h-100 float-start mb-0">Votre compte</h2>
            <div class="breadcrumb-wrapper h-100 d-flex">
                <ol class="breadcrumb my-auto ps-md-4 ps-0">
                    <li class="breadcrumb-item">
                        {% set role = app.user.roles[0]  %}
                        {% if role == constant('App\\Entity\\User::ROLE_ADMINISTRATEUR') %}
                            <a href="{{ path('admin_dashboard') }}">Accueil</a>
                        {% elseif role == constant('App\\Entity\\User::ROLE_COACH') %}
                            <a href="{{ path('coach_agent_list') }}">Accueil</a>
                        {% elseif role == constant('App\\Entity\\User::ROLE_AGENT') %}
                            <a href="{{ path('agent_home') }}">Accueil</a>
                        {% endif %}
                    </li>
                    <li class="breadcrumb-item"><a href="#">Paramètre du compte </a>
                    </li>
                    <li class="breadcrumb-item active"> Compte
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-2">
                <!-- account -->
                <li class="nav-item">
                    <a class="nav-link active bg-princ" href="{{ path('user_accountSetting', {id:app.user.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-medium-3 me-50"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <span class="fw-bold">Compte</span>
                    </a>
                </li>
                <!-- security -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_passwordSetting', {id:app.user.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock font-medium-3 me-50"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                        <span class="fw-bold">Sécurité</span>
                    </a>
                </li>
            </ul>

            <!-- profile -->
            <div class="card mt-4">
                <div class="card-header border-bottom">
                    <h4 class="card-title">Détails du profil</h4>
                </div>
                <div class="card-body py-2 my-25">
                    {{ form_start(form, {attr:{
                        enctype:"multipart/form-data"
                    }}) }}

                    <!-- header section -->
                    <div class="d-flex">
                        <a href="#" class="me-25">
{#                            {{ asset('assets/vuexy/images/portrait/small/avatar-s-11.jpg') }}#}
                            <img src="{{ path('user_avatar', {id:user.id}) }}"
                                 onerror='this.onerror=null; this.src="{{ asset('assets/vuexy/images/portrait/small/avatar-s-11.jpg') }}"'
                                 id="account-upload-img"
                                 class="uploadedAvatar rounded me-50"
                                 alt="profile image" height="100" width="100">
                        </a>
                        <!-- upload and reset button -->
                        <div class="d-flex align-items-end mt-75 ms-1">
                            <div>
                                <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75 waves-effect waves-float waves-light">Télécharger</label>
                                <input type="file" name="user_avatar" id="account-upload" hidden="" accept="image/*">
                                <button type="button" id="account-reset" class="btn btn-sm btn-outline-secondary mb-75 waves-effect">Réinitialiser</button>
                                <p class="mb-0">Les extensions autorisées: png, jpg, jpeg, svg.</p>
                            </div>
                        </div>
                        <!--/ upload and reset button -->
                    </div>
                    <!--/ header section -->

                    <!-- form -->
                    <div class="row mt-4">
                        <div class="col-md-6 col-12">
                            {{ form_row(form.nom) }}
                        </div>
                        <div class="col-md-6 col-12">
                            {{ form_row(form.prenom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            {{ form_row(form.adresse) }}
                        </div>
                        <div class="col-md-6 col-12">
                            {{ form_row(form.telephone) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div>
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                    <!--/ form -->
                </div>
            </div>
            <!--/ profile -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vuexy_page_account_settings_account_js')}}
{% endblock %}

