{% extends 'base.html.twig' %}

{% block title %}
    Paramètre du compte utilisateur
{% endblock %}

{% block body %}
    <div class="row breadcrumbs-top mb-4">
        <div class="col-12 ">
            <h2 class="content-header-title float-start mb-0">Votre compte</h2>
            <div class="breadcrumb-wrapper h-100 d-flex">
                <ol class="breadcrumb my-auto ps-md-4 ps-0">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Paramètre du compte </a>
                    </li>
                    <li class="breadcrumb-item active"> Sécurité
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-2">
                <!-- account -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_accountSetting', {id:app.user.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-medium-3 me-50"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <span class="fw-bold">Compte</span>
                    </a>
                </li>
                <!-- security -->
                <li class="nav-item">
                    <a class="nav-link active bg-princ" href="{{ path('user_passwordSetting', {id:app.user.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock font-medium-3 me-50"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                        <span class="fw-bold">Sécurité</span>
                    </a>
                </li>
            </ul>

            <!-- profile -->
            <div class="card mt-4">
                <div class="card-header p-4 border-bottom">
                    <h4 class="card-title">Changer mot de passe</h4>
                </div>
                <div class="card-body p-4">
                    <!-- form -->
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-1">
                                <label class="form-label" for="account-old-password">Mot de passe Actuel</label>
                                <div class="input-group  form-password-toggle input-group-merge">
                                    <input type="password" class="form-control {{ border_error ?'border-danger':'' }}" id="account-old-password" name="password" placeholder="Enter current password" data-msg="Please current password">
                                    <div class="input-group-text cursor-pointer  {{ border_error ?'border-danger':'' }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </div>
                                    {% if error_password %}
                                      <div class="invalid-feedback d-block">Le mot de passe saisi n'est pas valide.</div>
                                    {% endif %}
                                    {% if emptyPass %}
                                        <div class="invalid-feedback d-block">Ce champ ne doit pas être vide.</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6 mb-1">
                                {{ form_label(form.password.first) }}
                                <div class="input-group form-password-toggle input-group-merge">
                                    {{ form_widget(form.password.first) }}
                                    <div class="input-group-text cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </div>
                                    {{ form_errors(form.password) }}
                                    {{ form_errors(form.password.first) }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-1">
                                {{ form_label(form.password.second) }}
                                <div class="input-group form-password-toggle input-group-merge">
                                    {{ form_widget(form.password.second) }}
                                    <div class="input-group-text cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </div>
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <p class="fw-bolder">
                                    Exigences relatives au mot de passe :
                                </p>
                                <ul class="ps-3">
                                    <li class="mb-50">Minimum 8 caractères - plus il y en a, mieux c'est</li>
                                    <li class="mb-50">Au moins un caractère majuscule et minuscule</li>
                                    <li>Au moins un chiffre, un symbole ou un caractère d'espacement</li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary me-1 mt-1 waves-effect waves-float waves-light">Enregistrer</button>
                                <a href="{{ path('user_passwordSetting', {id:app.user.id}) }}" type="reset" class="btn btn-outline-secondary mt-1 waves-effect">Annuler</a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    <!--/ form -->
                </div>
            </div>
            <!--/ profile -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}

