{% extends 'user_category/dc/document/document_base.html.twig' %}

{% block title %}
	Document
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% set active = 'infos' %}
{% block content_document %}
        <div class="content-body ecommerce-application">
                <div class="bs-stepper checkout-tab-steps">
                    <div class="bs-stepper-content">
                        <div class="content active dstepper-block" role="tabpanel" >
                        {% for label, message in app.flashes %}
                            <div class="alert alert-{{label}} p-3 text-center" role="alert">
                                <div class="alert-body">
                                    {{message}}
                                </div>
                            </div>
                        {% endfor %}
                        {% if error %}
                            <div class="alert alert-primary p-3 text-center" role="alert">
                                <div class="alert-body">
                                    {{error}}
                                </div>
                            </div>
                        {% else %}
                        <div id="place-order" class="list-view product-checkout mt-1">
                            <!-- Checkout Place Order Left starts -->
                            <div class="checkout-items">
                                <div class="card ecommerce-card">
                                    <div class="item-img">
                                        <i class="fa fa-file-pdf fa-4x"></i>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-name">
                                            <h6 class="mb-0"><a href="#" class="text-body">{{rec.document.nom}}</a></h6>
                                        
                                        </div>
                                        <p class="card-text">
                                            {{rec.document.message|raw}}
                                        </p>
                                        {# <span class="text-success mb-1">En stock</span> #}
                                        {# <div class="item-quantity">
                                            <span class="quantity-title">Quantité:</span>
                                            <div class="input-group quantity-counter-wrapper bootstrap-touchspin">
                                                <span class="input-group-btn input-group-prepend bootstrap-touchspin-injected">{{op.qty}}</span>
                                            </div>
                                        </div> #}
                                        {# <span class="delivery-date text-muted">Delivery by, Wed Apr 25</span> #}
                                        {# <span class="text-success">Remise de 20%</span> #}
                                    </div>
                                    {# <div class="item-options text-center">
                                        <div class="item-wrapper">
                                            <div class="item-cost">
                                                <h4 class="item-price" >{{op.amount | number_format(2, ',', ' ')}} €</h4>
                                                <p class="card-text shipping">
                                                    <span class="badge rounded-pill badge-light-success">Free Shipping</span>
                                                </p>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-light mt-1 remove-wishlist" onclick="removeBasketItem({{basketItem.produit.id}})">
                                            <i data-feather="x" class="align-middle me-25"></i>
                                            <span>Retirer du panier</span>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-cart move-cart" onclick="updateBasketItem({{basketItem.produit.id}})">
                                            <i data-feather="shopping-cart" class="align-middle me-25"></i>
                                            <span class="text-truncate">Modifier le panier</span>
                                        </button>
                                    </div> #}
                                </div>                                
                            </div>
                            <!-- Checkout Place Order Left ends -->

                            <!-- Checkout Place Order Right starts -->
                            <div class="checkout-options">
                                <div class="card">
                                    <div class="card-body">
                                        <label class="section-label form-label mb-1">Détails</label>
                                        <hr />
                                        <div class="price-details">
                                            <ul class="list-unstyled">
                                                <li class="price-detail">
                                                    <div class="detail-title">Date d'envoi</div>
                                                    <div class="detail-amt">{{rec.dateSend | date("d/m/Y H:i")}}</div>
                                                </li>
                                                {% if rec.dateSigned %}
                                                <li class="price-detail">
                                                    <div class="detail-title">Date de signature</div>
                                                    <div class="detail-amt">{{rec.dateSigned | date("d/m/Y H:i")}}</div>
                                                </li>
                                                {% endif %}
                                                {# <li class="price-detail">
                                                    <div class="detail-title">Statut</div>
                                                    <div class="detail-amt discount-amt text-primary">{{order.statusStr}}</div>
                                                </li> #}
                                                <li class="price-detail">
                                                    <div class="detail-title">Nom</div>
                                                    <div class="detail-amt">{{rec.nom}}</div>
                                                </li>

                                                {% if rec.prenom %}
                                                <li class="price-detail">
                                                    <div class="detail-title">Prénom</div>
                                                    <div class="detail-amt">{{rec.prenom}}</div>
                                                </li>
                                                {% endif %}

                                                <li class="price-detail">
                                                    <div class="detail-title">Adresse Email</div>
                                                    <div class="detail-amt">{{rec.email}}</div>
                                                </li>

                                                
                                                
                                            </ul>
                                            {# <hr />
                                            <ul class="list-unstyled">
                                                <li class="price-detail">
                                                    <div class="detail-title detail-total">Prix total  :</div>
                                                    <div class="detail-amt fw-bolder" id="total-cost" >{{order.amount | number_format(2, ',', ' ')}} €</div>
                                                </li>
                                            </ul> #}
                                            <a role="button" class="btn btn-primary w-100 btn-next place-order" href="{{path('dc_document_view', {'token': token})}}">Voir le document</a>
                                            {# <a role="button" class="mt-2 btn btn-secondary w-100 btn-next place-order" href="{{path('dc_document_edit', {'token': token})}}">Modifier le document</a> #}
                                            {% if rec.dateSigned == null and rec.signedFile == null %}
                                            <a role="button" class="mt-2 btn btn-warning w-100 btn-next place-order" href="{{path('dc_document_upload', {'token': token})}}">Importer le document</a>
                                            {% elseif rec.dateSigned == null and rec.signedFile != null %}
                                            <a role="button" class="mt-2 btn btn-warning w-100 btn-next place-order" href="{{path('dc_document_sign', {'token': token})}}">Signer le document</a>
                                            {% elseif not rec.paid %}
                                            <a role="button" class="mt-2 btn btn-warning w-100 btn-next place-order" href="{{path('dc_document_pay', {'token': token})}}">Payer</a>
                                            {% endif %}

                                            
                                        
                                        </div>
                                    </div>
                                </div>
                                <!-- Checkout Place Order Right ends -->
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                    
                    <!-- Checkout Place order Ends -->
                </div>
                    
            </div>
{% endblock %}


