{% extends 'base.html.twig' %}

{% block title %}
	Liste des mes contacts
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}	
    <div class="container mt-3">
        <!-- Message alert -->
        <div class="alert-message">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- Formulaire de recherche -->
        {# <div class="search-form">
            {{form_start(searchForm)}}
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    {{form_row(searchForm.prenom)}}
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    {{form_row(searchForm.email)}}
                </div>
				<div class="col-12 col-sm-6 col-md-3">
                    {{form_row(searchForm.telephone)}}
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <button class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            {{form_end(searchForm)}}
        </div> #}

        <!-- Liste agent -->
        <div class="row mb-3">
            <div class="col-12  mt-2 mt-md-3">
                <div class="row mb-4 mt-3 mt-m-0">
                    <div class="col-12 col-md-6 order-2 order-md-1">
                        <h4><i class="fa fa-book-atlas"></i> Liste de mes contacts</h4>
                    </div>
                    <div class="col-12 col-md-6 text-sm-start text-md-end order-1 order-md-1 mb-3 mb-md-0">
                        <a href="{{ path('agent_contact_info_add') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Ajouter un contact</a>
                    </div>
                </div>
            </div>
		</div>
        <div class="table-responsive">
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr>
						<th scope="col">Prénoms</th>
						<th scope="col">Mail</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Adresse</th>
						<th scope="col">ACTION</th>
					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}            
                        {% set information = contact.information %}
                        <tr>
                            <td>{{ information.lastname }}</td>
                            <td>{{ information.email }}</td>
                            <td>{{ information.phone }}</td>
                            <td>{{ information.address }}</td>
                            <td >
                                <a href="{{ path('agent_contact_info_edit', {'id': information.id}) }}" class="btn btn-success">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{{ path('coach_agent_view', {'id': information.id}) }}" class="btn btn-secondary">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <form method="post" action="{{path('agent_contact_info_delete', {id: contact.id})}}" style="display: inline-block;" onsubmit="return confirm('Êtes vous vraiment sûr de supprimer ce contact ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </form>  
                            </td>
                        </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="pagination d-flex justify-content-center">
			{{ knp_pagination_render(contacts)}}
		</div>
    </div>
{% endblock %}
