{% extends 'base.html.twig' %}

{% block title %}
	Formulaire Produit
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %} 
    <div class="block block--bordered block--rounded">
        <h1 class="block__text block__text--center mt-2" >Formulaire Produit :</h1>
            
            {{ form_start(form, {'attr': {'class': 'my-form', 'id': 'category-form'}}) }}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    <div class="alert-body">
                        {{error}}
                    </div>
                </div>
                {% endif %}
                <div class="my-form-widget">
                    {{form_label(form.nom)}}
                    {{form_widget(form.nom)}}
                    {{form_errors(form.nom)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.description)}}
                    {{form_widget(form.description)}}
                    {{form_errors(form.description)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.categorie)}}
                    {{form_widget(form.categorie)}}
                    {{form_errors(form.categorie)}}
                </div>
                <div class="my-form-widget">
                    {{form_label(form.imageFile)}}
                    {{form_widget(form.imageFile)}}
                    {{form_errors(form.imageFile)}}
                </div>
                <div class="my-form-img-preview-container">
                    {% if product != null and product.photo != null %}
                        <img class="my-form-img-preview" id="my-form-img-preview" src="{{ asset( filesDirectory ~ product.photo) }}" alt="Image pour {{product.nom}}" />
                    {% endif %}
                </div>
                <div class="btn-wrap">
                    <button class="btn btn-primary" type="submit"><i data-feather="save"></i>{{ isEdit ? 'Enregistrer les modifications' : 'Créer' }}</button>
                </div>
            {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/templates/admin/product/product_form.js')}}"></script>

{% endblock %}

