{% extends 'base_admin.html.twig' %}

{% block title %}
	Ajout catégorie formation
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container my-5">
		{{ form_start(formCat) }}
		{{ form_row(formCat.nom) }}
		{{ form_row(formCat.description) }}
		<button type="submit" class="btn btn-success">{{ button|default('Ajouter')}}</button>
		{{ form_end(formCat) }}
	</div>
{% endblock %}