{% set active = 'add_products' %}
{% extends 'user_category/client/secu/makeorder/base_makeorder.html.twig' %}



{% block content_makeorder %} 
<div id="step-cart" class="content active dstepper-block" role="tabpanel" aria-labelledby="step-cart-trigger">
    
    <div id="place-order" class="list-view product-checkout">
        <!-- Checkout Place Order Left starts -->
        <div class="checkout-items" style="overflow: auto; height: calc(100vh - 300px);">
            {% for accomp in order.accomps %}
            <div class="card ecommerce-card">
                <div class="item-img">
                    <a href="#">
                        <img src="{{ asset( filesDirectory ~ accomp.produit.photo) }}" alt="Image pour {{accomp.produit.nom}}" />
                    </a>
                </div>
                <div class="card-body">
                    <div class="item-name">
                        <h6 class="mb-0"><a href="#" class="text-body">{{accomp.produit.nom}}</a></h6>
                    
                    </div>
                    {# <span class="text-success mb-1">En stock</span> #}
                    <div class="item-quantity">
                        <span class="quantity-title">Quantité:</span>
                        <div class="input-group quantity-counter-wrapper bootstrap-touchspin">
                            <span class="input-group-btn input-group-prepend bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button" onclick="decreaseQuantity({{accomp.produit.id}})">-</button></span><input type="text" class="quantity-counter form-control" id="quantity-for-product-{{accomp.produit.id}}" value="{{accomp.qte}}"><span class="input-group-btn input-group-append bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button" onclick="increaseQuantity({{accomp.produit.id}})">+</button></span>
                        </div>
                    </div>
                    {# <span class="text-success">Remise de 20%</span> #}
                    <span class="delivery-date text-muted"><i><b>Description :</b></i> {{accomp.produit.description|raw}}</span>
                </div>
                <div class="item-options text-center">
                    <div class="item-wrapper">
                        <div class="item-cost">
                            <h4 class="item-price mb-2" id="item-price-for-product-{{accomp.produit.id}}" data-unit-price="{{accomp.produit.prix}}">{{accomp.montant | number_format(2, ',', ' ')}}€</h4>
                            {# <p class="card-text shipping">
                                <span class="badge rounded-pill badge-light-success">Free Shipping</span>
                            </p> #}
                        </div>
                    </div>
                    <button type="button" class="btn btn-light mt-1 remove-wishlist" >
                        <i data-feather="x" class="align-middle me-25"></i>
                        <span>Retirer</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-cart move-cart" >
                        <i data-feather="shopping-cart" class="align-middle me-25"></i>
                        <span class="text-truncate">Modifier</span>
                    </button>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <!-- Checkout Place Order Left ends -->

        <!-- Checkout Place Order Right starts -->
        <div class="checkout-options" >
            <div class="card">
                <div class="card-body">
                    <label class="section-label form-label mb-3">Détails de la commande</label>
                    <div class="price-details">
                        <ul class="list-unstyled"  style="height: calc(100vh - 470px);">
                            <li class="price-detail">
                                <div class="detail-title">{{order.typeAbonnement.nom}}</div>
                                {# <div class="detail-amt discount-amt text-success">Gratuit</div> #}
                            </li>
                            <li class="price-detail">
                                <div class="detail-title">Prix du produit</div>
                                <div class="detail-amt discount-amt" id="product-cost" data-product-cost="{{order.prixProduit}}">{{order.prixProduit | number_format(2, ',', ' ')}} €</div>
                            </li>
                            <li class="price-detail">
                                <div class="detail-title">Montant des accompagnements</div>
                                <div class="detail-amt discount-amt" id="accomp-cost" data-accomp-cost="{{order.montantAccomp}}">{{order.montantAccomp | number_format(2, ',', ' ')}} €</div>
                            </li>
                        </ul>
                        <hr />
                        <ul class="list-unstyled">
                            <li class="price-detail">
                                <div class="detail-title detail-total">Montant total  :</div>
                                <div class="detail-amt fw-bolder" id="total-cost" >{{(order.prixProduit + order.montantAccomp) | number_format(2, ',', ' ')}} €</div>
                            </li>
                        </ul>
                        {# <a role="button" class="btn btn-primary w-100 btn-next place-order" href="{{path('client_order_address', {'token': token})}}">Commander</a> #}
                    </div>
                </div>
            </div>
            <!-- Checkout Place Order Right ends -->
        </div>
    </div>
    <!-- Checkout Place order Ends -->
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    let totalCostDOM = document.getElementById(`total-cost`);
    let productCostDOM = document.getElementById(`product-cost`);
    let accompCostDOM = document.getElementById(`accomp-cost`);

    function formatPrice(price){
        let text = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(price);
        return text;
    }

    function decreaseQuantity(productId){
        let quantityCounter = document.getElementById(`quantity-for-product-${productId}`);
        let costDOM = document.getElementById(`item-price-for-product-${productId}`);
        let unitPrice = parseFloat(costDOM.dataset.unitPrice);
        let accompCost = parseFloat(accompCostDOM.dataset.accompCost)- unitPrice;

        let qty = parseInt(quantityCounter.value) - 1;
        if(qty>=0){
            quantityCounter.value = qty;
            costDOM.innerHTML = formatPrice(qty * unitPrice);
            accompCostDOM.innerHTML = formatPrice(accompCost);
            accompCostDOM.dataset.accompCost = accompCost;
        } 

        setTotalCost();
    }

    function increaseQuantity(productId){
        let quantityCounter = document.getElementById(`quantity-for-product-${productId}`);
        let costDOM = document.getElementById(`item-price-for-product-${productId}`);
        let unitPrice = parseFloat(costDOM.dataset.unitPrice);
        let accompCost = parseFloat(accompCostDOM.dataset.accompCost) + unitPrice;

        let qty = parseInt(quantityCounter.value) + 1;
        quantityCounter.value = qty;
        costDOM.innerHTML = formatPrice(qty* unitPrice);
        accompCostDOM.innerHTML = formatPrice(accompCost);
        accompCostDOM.dataset.accompCost = accompCost;

        setTotalCost();
    }

    function setTotalCost(){
        totalCostDOM.innerHTML = formatPrice(parseFloat(productCostDOM.dataset.productCost) + parseFloat(accompCostDOM.dataset.accompCost));
    }
    


</script>
{% endblock %}

