{% extends 'base_admin.html.twig' %}

{% block title %}
	Visualisation utilisateur Agent
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<a href="{{ path('admin_agent_list') }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>

		<div class="content-card-user-information mt-3">
			<section class="app-user-view-account">
				<div class="row">
					<!-- User Sidebar -->
					<div class="col-12 col-md-7 order-1 order-md-0">
						{{ include ('global/card/_card_user_information.html.twig', {user : agent, secteurs: secteurs}) }}
					</div>
					<!--/ User Sidebar -->

					<!-- User Content -->
					<div class="ccol-12 col-md-5 order-0 order-md-1">
						<!-- User Pills -->
						<ul class="nav nav-pills mb-2">
							<li class="nav-item">
								<a class="nav-link active" href="#">
									<i class="fa-solid fa-cube"></i>
									<span class="fw-bold">Secteur</span></a>
							</li>
						</ul>
						<!--/ User Pills -->

						<!-- Project table -->
						<div class="card">
							<h4 class="card-header">Secteurs de l'agent</h4>
							<div class="table-responsive">
								<div class="alert alert-danger d-none alert-errorMessages"></div>
								<a href="#" data-bs-toggle="modal" data-bs-target="#modal-add-agent-secteur" class="btn btn-primary float-end my-4 me-4"><i class="fa-solid fa-circle-plus"></i> Ajouter un secteur</a>
								<table class="table datatable-project">
									<thead>
										<tr>
											<th></th>
											<th>Secteur</th>
											<th>Date de validation</th>
											<th>Statut</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody class="body-sector-list">
										{% for agentSecteur in agentSecteurs %}
											<tr>
												<td></td>
												<td>{{ agentSecteur.secteur.nom }}</td>
												{% set coachtSecteur = repoCoachSecteur.findOneBy({'secteur' : agentSecteur.secteur}) %}
												<td>{{ agentSecteur.dateValidation|date('d/m/Y') }}</td>
												<td>
													{% if agentSecteur.statut == false %}
														<button class="btn btn-warning btn-sm">Bloqué</button>
													{% else %}
														<button class="btn  btn-success btn-sm"> Validé</button>
													{% endif %}
												</td>
												<td>
													<button class="btn btn-warning btn-sm edit-secteur" data-agentSecteur-id="{{ agentSecteur.id }}" data-secteur-id="{{ agentSecteur.secteur.id }}" data-bs-toggle="modal" data-bs-target="#modal-edit-agent-secteur"><i class="fa fa-edit"></i></button>
													{% if agentSecteur.statut == false or agentSecteur.statut == null or agentSecteur.dateValidation == null %}
														<button data-agentSecteur-id="{{ agentSecteur.id }}" class="btn btn-sm  btn-outline-primary js-validate-secteur-agent btn-validate-sector">Valider</button>
													{% else %}
														<button data-agentSecteur-id="{{ agentSecteur.id }}" type="button" class="btn btn-sm  btn-outline-primary js-invalidate-secteur-agent">Bloquer</button>
													{% endif %}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- /Project table -->

					</div>
					<!--/ User Content -->
				</div>
			</section>
		</div>
	</div>
	
    <!-- Modal : Ajout secteur  -->
    <div class="modal fade" id="modal-add-agent-secteur" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
				{{ form_start(formSecteur) }}
                <div class="modal-header">
                    <h5 class="modal-title text-success"><i class="fa-solid fa-pen-to-square"></i> Ajout secteur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
					<h3>Choisissez un ou plusieurs secteurs</h3>
					{{ form_row(formSecteur.secteur) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button id="js-btn-add-multiple-secteur" type="button" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Ajouter</button>
                </div>
				{{ form_end(formSecteur) }}
            </div>
        </div>
    </div>

	<!-- Modal : Modifier secteur  -->
	<div class="modal fade" id="modal-edit-agent-secteur" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{{ path('admin_agent_secteur_editOne') }}" method="post">
					<div class="modal-header">
						<h5 class="modal-title text-success"><i class="fa-solid fa-pen-to-square"></i> Modifier le secteur</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<h3>Choisissez un ou plusieurs secteurs</h3>
						<select name="secteur" class="form-control" id="">
							{% for secteur in secteursForEdition %}
								<option value="{{ secteur.id }}">{{ secteur.nom }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="agentSecteur" />
						<input type="hidden" name="agent_id" value="{{ agent.id }}" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Enregistrer</button>
					</div>
				</form>>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="agent-id">{{agent.id}}</script>
	{{ encore_entry_script_tags('vuexy_app_user_view_js') }}
	{{ encore_entry_script_tags('validationSecteur') }}

{% endblock %}
